
.top{
  background-color: #ffc53a;
  color:#fff;
  padding: 0;
  position:absolute;
  width: 60px;
  height: 30px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  border-top-left-radius: 10px;
  font-size: 20px; 
  
}
.slider{
  height: 330px;
  width: auto;
  min-width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  
}
.slider .contentBox{
  margin-left: 3.25vw;
 
  
}

.contentBox{
  min-width: 20%;
  max-width: 150px;
  height: 300px;
  background-color: #f4f4f7;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  display: block;
}
.forImgContent{
  width: 100%;
  height: 50%;
  margin-top: 7%;
  padding: 0 !important;
}
.forImgContent img{
  width: 100%;
  height: 100%;
  margin: auto;
}
.contentBox div{
  text-align:left;
  padding-left: 7px;
}
.dataContent{
  width: 50%;
  font-size: small;
  color: #2f223aa9;
  margin: 5px 0;
}
.titleContent{
  height: 17%;
  overflow: hidden;
  
  font-size: 0.95em;
  display: block;
  color: #1969be;  
}
.costContent{
  font-weight: bold;
  font-size: 20px;
}
.statusContent{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.statusContent span{
  opacity: 0.7;
  font-size: small
}
.statusContent span.fa-heart
{
  font-size: 1.3rem;
  padding-right: 7px;
}
.statusContent span.fa-heart:hover{
  color: black;
}
.statusContent span.fa.fa-heart{
  color: red;
}
.e{
  border: 1px solid;
}
.contentTemp{
  display: none;
}