<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width;">
    <link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/scroll.css')}}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesomemin.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/all.min.css')}}">
    <link rel="stylesheet" type="text/css"
        href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>{{title}}</title>
    <style>
        .newObject button {
            border-radius: 10px !important;
        }
    </style>
</head>

<body>
    <div class="all">
        <header>
            <div class="headerChild">

                <div class="text" title="Вернуться к главной странице"><a
                        href="{{url_for('index', lang=session['lang'])}}" style='text-decoration:none'
                        class="text">{{title}}</a></div>
                {% if lang == 'rulang' %}
                <div class="lang"><a href='/content/{{post.id}}/rulang' class="langSpan rus chosen">рус </a>|<a
                        href='/content/{{post.id}}/kzlang' class="qaz langSpan">
                        қаз</a>
                </div>
                {% elif lang == 'kzlang' %}
                <div class="lang"><a href='/content/{{post.id}}/rulang' class="langSpan rus">рус </span>|<a
                            href='/content/{{post.id}}/kzlang' class="qaz langSpan chosen"> қаз</a>
                </div>
                {% endif %}
                <div id="lang_hidden" hidden>{{lang}}</div>
                <div class="moreItems">
                    <div class="dropdown">
                        <span class="lng-personal"><i class="fa-regular fa-user "></i> Личный Кабинет</span>
                        <div class="dropdown-content">
                            <a class="lng-message messages" href="{{url_for('messages', lang=session['lang'])}}">
                                {{menu[0].name}}</a>
                            <a class="lng-myPosts messages" href="{{url_for('myposts', lang=session['lang'])}}">
                                {{menu[1].name}}</a>
                            <a href="{{url_for('payments', lang=session['lang'])}}"
                                class="lng-payment messages">{{menu[2].name}}</a>
                            <a href="{{url_for('myprofile', lang=session['lang'])}}"
                                class="lng-myProfile messages">{{menu[3].name}}</a>
                            <a href="{{url_for('logout', lang=session['lang'])}}"
                                class="lng-exit messages">{{menu[4].name}}</a>
                        </div>
                    </div>
                    <span class="favourite"><a href="{{url_for('favorites', lang=session['lang'])}}"
                            class=" lng-favourite-second "><i class=" fa-regular fa-heart"></i> Избранные</a></span>
                    <span class=" messages"><a class="lng-message-second"
                            href="{{url_for('messages', lang=session['lang'])}}"><i class="fa-regular fa-comment"></i>
                            Сообщения</a></span>
                </div>
                <div class="newObject">
                    <a href="{{url_for('newpost', lang=session['lang'])}}"><button class="add lng-newPost">Подать
                            объявление</button></a>
                </div>
                <div class="lastel">
                    {% if lenOfUserName <= 11 %} <a style='text-decoration:none;' class="text"
                        href="{{url_for('myprofile', lang=session['lang'])}}">{{username}}</a>
                        {% else %}
                        <a style='text-decoration:none;' class="text lng-nickProfile"
                            href="{{url_for('myprofile', lang=session['lang'])}}">Мой профиль</a>
                        {% endif %}
                </div>
            </div>
        </header>

        <section class="mainSection active">
            <div class="mask"></div>
            <div class="sectionChild">
                <div class="mainBodyContent">
                    <a onclick="history.back()" style="text-decoration: none;">
                        <div class="prevLine">
                            <span class="fa fa-angle-left"></span>
                            <span class="lng-back"> Назад</span>
                        </div>
                    </a>
                    <div class="mainText">{{post.title}}</div>
                    
                    <div><span class="lng-published subTextData"></span> <span
                            class="subTextData">{{post.post_date}}</span></div>
                    <div class="mainImageAndInfo">
                        <div class="mainImage">
                            <div class="innerDiv controlBtn" onclick="plusSlides(-1, 0)">
                                <span class="fa fa-angle-left"></span>
                            </div>

                            <div class="innerDiv mainImgDiv">
                                <img src="data:;base64, {{post.photos[0]}}" alt="">
                            </div>
                            <div class="innerDiv controlBtn" onclick="plusSlides(1, 1)">
                                <span class="fa fa-angle-right"></span>
                            </div>
                        </div>
                        <div class="mainInfo">
                            <div class="addToFav">
                                <i onclick="fill(this)" class="fa-regular fa-heart"></i>
                                <span class="lng-addToFav">Добавить в избранное</span>
                            </div>
                            <div class="cost">

                                <span>{{post.cost}}</span>

                            </div>
                            <div class="costStat {{cat[post.facility]}}">{{post.facility}}</div>
                            <div class="miniProfile">
                                {% if user_logo != 0 %}
                                <img src="data:;base64, {{user_logo}}" style='border-radius: 50%;' height="57"
                                    width="57" alt="">
                                {% else %}
                                <img src="{{url_for('static', filename = 'img/user.svg')}}" style='border-radius: 50%;'
                                    alt="" srcset="">
                                {% endif %}
                                <div class="data"
                                    style="display: flex; flex-direction: column; justify-content: center;">
                                    <div class="name">{{post.username}}</div>
                                    <div class="mobNum" >
                                        <span>{{post.phone_number}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="writeUser">
                                <button>Написать продавцу</button>
                            </div>
                            <div class="quickChat">
                                <span>Хочу купить</span>
                                <span>В каком состоянии</span>
                                <span>Скидка возможна?</span>
                                <span>Еще не продали?</span>
                            </div>
                            <div class="writeWhats">
                                <a target="_blank" href="{{post.whatsapp_link}}" class="lng-writeWhats">Написать на WhatsApp</a>
                            </div>

                        </div>
                    </div>
                    <div class="subImages">
                        <!-- <div class="buttonSame" style=" height: 40px; width: 100px;">
                            <button class="fa-solid fa-angle-left prev1"></button>
                            <button class="fa-solid fa-angle-right next1"></button>
                        </div>
                        <br> -->
                        <div class="sliderCon">
                            {% for j in post.photos %}
                            <div class="imgBox">
                                <img src="data:;base64,  {{j}}" alt="" srcset="">
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="description">
                        <div class="mainDesc">
                            <h1 class="lng-description">Описание</h1>
                            <div class="actDesc">
                                {{post.description}}
                            </div>
                        </div>
                    </div>
                    <div class="MsgAndAdvice">
                        <div class="sendMsg">
                            <div class="firstL">
                                <div class="miniProfile">
                                    {% if user_logo != 0 %}
                                    <img src="data:;base64, {{user_logo}}" style='border-radius: 50%;' height="57"
                                        width="57" alt="">
                                    {% else %}
                                    <img src="{{url_for('static', filename = 'img/user.svg')}}"
                                        style='border-radius: 50%;' alt="" srcset="">
                                    {% endif %}
                                    <div class="data"
                                        style="display: flex; flex-direction: column; justify-content: center;">
                                        <div class="name">{{post.username}}</div>
                                        <div class="mobNum">
                                            <span>{{post.phone_number}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <h1 class="lng-uDev">Написать продавцу </h1>
                            <from method="POST" action="">
                                <textarea class='lng-yourMessage '  name="" id="" cols="30" rows="10"
                                    placeholder="Ваше сообщение"></textarea>
                                <div class="lastL">
                                    <!-- <button class="sendToUser lng-writeToSeller">Написать продавцу на WhatsApp</button> -->
                                    <a class="sendToUserWhats" href="{{post.whatsapp_link}}" target="_blank" style="padding: 10px 30px ; width: auto;">
                                        <p class="lng-writeWhats">Написать продавцу на WhatsApp</p>
                                    </a>
                                </div>
                            </from>
                        </div>
                        <div class="advice">
                            <h2 class="lng-advices">Советы</h2>
                            <div class="lng-d1">- Никогда не отправляйте предоплату!
                            </div>
                            <div class="lng-d2">- Старайтесь встречаться лично с продавцом для покупки товара.</div>
                            <div class="lng-d3">- Не отправляйте деньги, пока не получили товар или услугу.</div>
                            <div class="lng-d4">- Если Вы нашли странные ошибки в словах или явно низкую цену, лучше
                                сторониться таких
                                объявлений.</div>
                        </div>
                    </div>

                    {% if review %}
                    <div class="reviewBlock">
                        <div class="reviewBlockChild">
                            <form method="post">
                            <input hidden name="post_title" value="{{post.title}}">
                            <input hidden name="category" value="{{post.category}}">
                            <input hidden name="post_cost" value="{{post.cost}}">
                            <input hidden name="photos_from_review" value="{{post.photos}}">
                            <input hidden name="post_description" value="{{post.description}}">
                            <input hidden name="phone_number" value="{{post.phone_number}}">
                            <input hidden name="whatsapp_phone_number" value="{{post.whatsapp_phone_number}}">
                            <input hidden name="radio" value="{{post.photos}}">

                            <input type="submit" formaction="/newpost/{{lang}}">
                            </form>
                        </div>
                    </div>
                    {% else %}
                    {% block content %}
                    {% if len_of_rel_posts != 1 %}
                    <div class="areaForTextSame">
                        <div class="someText">
                            <span class="mainText lng-related">Похожие объявления</span>

                        </div>
                        <div class="buttonSame" >
                            <button class="fa-solid fa-angle-left prev"></button>
                            <button class="fa-solid fa-angle-right next"></button>
                        </div>
                    </div>
                    <div class="slider">
                        {% for i in related_posts %}
                        {% if i.id != post.id and i.status==1%}
                        <div class="contentBox"><a href="/content/{{i.id}}/{{lang}}">
                                <div class="forImgContent">
                                    {% if i.photos != 0 and i.photos != '' and i.photos != None%}
                                                <img src="data:;base64, {{ i.photos }}" alt="" loading="lazy">
                                                {% else %}
                                                <img src="../static/img/no_image.png">
                                                {% endif %}
                                </div>
                                <div class="dataContent" style="text-decoration: none; color:black;">{{i.post_date}}
                                </div>
                                <div class="titleContent"
                                    style="text-decoration: none; color:black; margin-bottom: -20px !important;">
                                    {{i.title}}</div>
                                <div class="categoryContent {{cat[i.category]}}"
                                    style="text-decoration: none; color:black;">{{i.category}}
                                </div>
                                <div class="costContent">{{i.cost}} </div>
                            </a>
                            <div class="statusContent">
                                <span class="{{cat[i.facility]}}">{{i.facility}}</span>
                                <input hidden id="text_{{i.id}}" value="{{i.id}}"><span class="fa-regular fa-heart"
                                    onclick="fill(this)" id="spanOfHeart_{{i.id}}"></span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% endif %}
                        {% endblock content %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>


        <footer>
            <div class="footerChild">
                <div class="first">
                    <div class="text">usharal.kz<i class="fa-thin fa-calendar-circle-minus"></i></div>
                    <div>@ 2022 usharal.kz - все права защищены</div>
                    <div class="map">Карта сайта</div>
                </div>
                <div class="second">
                    <div class="text">Контакты</div>
                    <a href="" class="secondA">usharal_kz@gmail.com</a>
                    <a href="" class="secondA">+7(705) 332 2343</a>
                </div>
                <div class="third">
                    <button class="up fa fa-arrow-up"></button>
                </div>
            </div>
        </footer>
    </div>
    <div class="shadow">
        <div class="cityList">
            <div class="inputModal">
                <input type="text" name="" id="" placeholder="Введите название" spellcheck="true">
            </div>
            <ul class="ul">
                <li>Алматинская область</li>
                <li>Акмолинская область</li>
                <li>Атырауская область</li>
                <li>Актюбинская область</li>
                <li>Восточно-Казахстанская область</li>
                <li>Жамбылская область</li>
                <li>Западно-Казахстанская область</li>
                <li>Карагандинская область</li>
                <li>Костанайская область</li>
                <li>Кызылординская область</li>
                <li>Мангистауская область</li>
                <li>Павлодарская область</li>
                <li>Северо-Казахстанская область</li>
                <li>Туркестанская область</li>
                <li>Нур-Султан</li>
                <li>Алматы</li>
                <li>Шымкент</li>
            </ul>
            <ul class="ul">
                <li>Услуги</li>
                <li>Электроника</li>
                <li>Личные вещи</li>
                <li>Детям</li>
                <li>Для Бизнеса</li>
                <li>Животные</li>
                <li>Для дома</li>
                <li>Работа</li>
                <li>Хобби и спорт</li>
                <li>Недвижимость</li>
                <li>Транспорт</li>
            </ul>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vuemin.js')}}"></script>
    <script src="{{url_for('static', filename='js/icons.js')}}" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/scroll.js')}}"></script>
    <script src="{{url_for('static', filename='js/content.js')}}"></script>
    <script src="{{url_for('static', filename='js/lang.js')}}"></script>
    <script src="{{url_for('static', filename='js/counter.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script src="{{url_for('static', filename='js/vuemin.js')}}"></script>
    <script>
        // alert()
        $(".up").click(function () {
            window.scrollTo(0, 0)
        })
        function fill(elem) {
            elem.classList.toggle("fa-regular")
            elem.classList.toggle("fa")
        }
        document.querySelector('#rating4').checked = true
        document.querySelectorAll('#rating4')[1].checked = true
        document.querySelectorAll('#rating4')[1].checked = true
        var inp = document.querySelectorAll('.rate input')
        inp.forEach(e => {
            e.disabled = true
        })
    </script>
</body>

</html>