<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width;">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/myPosts.css">
    <link rel="stylesheet" href="/static/css/scroll.css">
    <style>
        input.activeInput,
        textarea.activeInput {
            border: 1px solid rgba(255, 0, 0, 0.877) !important;
            box-shadow: 0 0 10px rgba(197, 30, 30, 0.5);
        }

        .categoryHide {
            display: none;
        }

        select {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="all">
        <header>
            <div class="headerChild">

                <div class="text" title="Вернуться к главной странице"><a
                        href="{{url_for('index', lang=session['lang'])}}" style='text-decoration:none'
                        class="text">usharal.kz</a></div>
                {% if lang == 'rulang' %}
                <div class="lang"><a href='rulang' class="langSpan rus chosen">рус </a>|<a href='kzlang'
                        class="qaz langSpan">
                        қаз</a>
                </div>
                {% elif lang == 'kzlang' %}
                <div class="lang"><a href='rulang' class="langSpan rus">рус </span>|<a href='kzlang'
                            class="qaz langSpan chosen"> қаз</a>
                </div>
                {% endif %}
                <div id="lang_hidden" hidden>{{lang}}</div>
                <div class="moreItems">
                    <div class="dropdown">
                        <span class="lng-personal"><i class="fa-regular fa-user "></i> Личный Кабинет</span>
                        <div class="dropdown-content">
                            <a class="lng-message messages" href="{{url_for('messages', lang=session['lang'])}}">
                                {{menu[0].name}}</a>
                            <a class="lng-myPosts messages" href="{{url_for('myposts', lang=session['lang'])}}">
                                {{menu[1].name}}</a>
                            <a href="{{url_for('payments', lang=session['lang'])}}"
                                class="lng-payment messages">{{menu[2].name}}</a>
                            <a href="{{url_for('myprofile', lang=session['lang'])}}"
                                class="lng-myProfile messages">{{menu[3].name}}</a>
                            <a href="{{menu[4].url}}" class="lng-exit messages">{{menu[4].name}}</a>
                        </div>
                    </div>
                    <span class="favourite"><a href="{{url_for('favorites', lang=session['lang'])}}"
                            class=" lng-favourite-second "><i class=" fa-regular fa-heart"></i> Избранные</a></span>
                    <span class=" messages"><a class="lng-message-second"
                            href="{{url_for('messages', lang=session['lang'])}}"><i class="fa-regular fa-comment"></i>
                            Сообщения</a></span>
                </div>
                <div class="newObject">
                    <a href="{{url_for('newpost', lang=session['lang'])}}"><button class="add lng-newPost">Подать
                            объявление</button></a>
                </div>
                <div class="lastel">
                    {% if lenOfUserName <= 11 %} <a style='text-decoration:none;' class="text"
                        href="{{url_for('myprofile', lang=session['lang'])}}">{{username}}</a>
                        {% else %}
                        <a style='text-decoration:none;' class="text lng-nickProfile"
                            href="{{url_for('myprofile', lang=session['lang'])}}">Мой профиль</a>
                        {% endif %}
                </div>
            </div>
        </header>


        <section class="pageForNewPost">
            <form method="post" enctype="multipart/form-data">
                <div class="mask"></div>
                <div class="pageForNewPostChild">
                    <div class="titleForPage">
                        <h1 class="lng-newPost">Подать объявление</h1>
                    </div>

                    <div class="mainBody">
                        <div class="informationAboutProduct">
                            <h3 class="lng-infoAboutProd">Информация о товаре</h3>
                            <div class="newPostHeader">
                                <div><span class="firstPart mainTextInfo lng-nameInfo">Заголовок</span><span
                                        class="secondPart lng-atLeast">(не
                                        менее 16 символов)</span></div>
                                <input type="text" name='post_title' class="lng-example"
                                    placeholder="Например, «samsung galaxy s22» или «Услуги сантехника»"
                                    oninput="titleProduct(this,1)" value="{{post.title}}" required>

                            </div>
                            <div class="categoryForNewPost">
                                <div><span class="firstPart mainTextInfo">Категория</span><span
                                        class="secondPart"></span>
                                </div>
                                <div class="chooseCategory" name="category">

                                    <div class='categoryHide' name="category">Выберите категорию</div>
                                    {% block content %}
                                    {% if post.category == 'Услуги' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1" selected>Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Электроника' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2" selected>Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Личные вещи' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3" selected>Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Детям' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4" selected>Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Для Бизнеса' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5" selected>Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Животные' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6" selected>Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Для дома' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7" selected>Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Работа' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8" selected>Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Хобби и спорт' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9" selected>Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Недвижимость' %}
                                    <select name="category" required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10" selected>Недвижимость</option>
                                        <option value="11">Транспорт</option>
                                    </select>
                                    {% elif post.category == 'Транспорт' %}
                                    <select name="category"  required>
                                        <option value="">Выберите категорию</option>
                                        <option value="1">Услуги</option>
                                        <option value="2">Электроника</option>
                                        <option value="3">Личные вещи</option>
                                        <option value="4">Детям</option>
                                        <option value="5">Для бизнеса</option>
                                        <option value="6">Животные</option>
                                        <option value="7">Для дома</option>
                                        <option value="8">Работа</option>
                                        <option value="9">Хобби и спорт</option>
                                        <option value="10">Недвижимость</option>
                                        <option value="11" selected>Транспорт</option>
                                    </select>

                                    {% endif %}

                                    {% endblock content %}
                                </div>
                            </div>
                            <div class="costBlock">
                                <div class="inner costText mainTextInfo">Цена</div>
                                <input type="text" class="inner lng-costInTenge" name="post_cost" value="{{post.cost}}"
                                    name="" id="">

                                <div class="inner withRadio">
                                    {% if post.facility=="Цена" %}
                                    <div class="middleBox">
                                        <input type="radio" value="1" name="radio" id="middle " required checked>
                                        <label for="middle">Цена</label>
                                    </div>
                                    <div class="swapBox">
                                        <input type="radio" value="2" name="radio" id="swap " required>
                                        <label for="swap">Возможен обмен</label>
                                    </div>
                                    <div class="freeBox">
                                        <input type="radio" value="3" name="radio" id="free " required>
                                        <label for="free">Отдам даром</label>
                                    </div>
                                    {% elif post.facility == 'Возможен обмен' %}
                                    <div class="middleBox">
                                        <input type="radio" value="1" name="radio" id="middle " required>
                                        <label for="middle">Цена</label>
                                    </div>
                                    <div class="swapBox">
                                        <input type="radio" value="2" name="radio" id="swap " required checked>
                                        <label for="swap">Возможен обмен</label>
                                    </div>
                                    <div class="freeBox">
                                        <input type="radio" value="3" name="radio" id="free " required>
                                        <label for="free">Отдам даром</label>
                                    </div>
                                    {% elif post.facility == "Отдам даром" %}
                                    <div class="middleBox">
                                        <input type="radio" value="1" name="radio" id="middle " required>
                                        <label for="middle">Цена</label>
                                    </div>
                                    <div class="swapBox">
                                        <input type="radio" value="2" name="radio" id="swap " required>
                                        <label for="swap">Возможен обмен</label>
                                    </div>
                                    <div class="freeBox">
                                        <input type="radio" value="3" name="radio" id="free " checked>
                                        <label for="free">Отдам даром</label>
                                    </div>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="bigBoxForImages">
                                <span class="mainTextInfo ">Фото</span>
                                <!-- <button class="outimg" onclick="console.log(imgArr)"></button> -->
                                <div class="containerForAllImages">
                                    <div class="imageBox1">
                                        <img src="{{ url_for('static', filename='img/Vector.svg') }}" width="50" alt="" class="imageOfUserChoose">
                                        <input type="file" onchange="showFile(this)" accept="image/*" name="post_photo" multiple="True" class="file"  value="{{post.photos}}" >
                                    </div>

                                    {% for j in range(lenOfPostPhotos) %}
                                    <div  class="imageBox{{j+2}} imageBox">
                                        <img src="data:;base64,  {{post.photos[j]}}" alt="" srcset="">
                                    </div>
                                    {% endfor %}
                                    <!-- <div count='0' class="imageBox2 imageBox " oncontextmenu="return false">
                                        <img src="{{ url_for('static', filename='img/Vector1.svg') }}" width="50" alt="" 
                                            class="imageOfUser">
                                        <div class="backColor"></div>
                                    </div>
                                    <div count='1' class="imageBox3 imageBox " oncontextmenu="return false"
                                        >
                                        <img src="{{ url_for('static', filename='img/Vector1.svg') }}" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                        
                                    </div>

                                    <div count='2' class="imageBox4 imageBox  " oncontextmenu="return false"
                                        >
                                        <img src="{{ url_for('static', filename='img/Vector1.svg') }}" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                    </div>
                                    <div count='3' class="imageBox5 imageBox " oncontextmenu="return false"
                                        >
                                        <img src="{{ url_for('static', filename='img/Vector1.svg') }}" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                        
                                    </div>
                                    <div count='4' class="imageBox6 imageBox " oncontextmenu="return false"
                                        >
                                        <img src="{{ url_for('static', filename='img/Vector1.svg') }}" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                       
                                    </div>
                                    <div count='5' class="imageBox7 imageBox " oncontextmenu="return false"
                                        >
                                        <img src="{{ url_for('static', filename='img/Vector1.svg') }}" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                        
                                    </div>
                                    <div count='6' class="imageBox8 imageBox " oncontextmenu="return false"
                                       >
                                        <img src="{{ url_for('static', filename='img/Vector1.svg') }}" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                        
                                    </div> -->
                                    <!-- <div count='7' class="imageBox9 imageBox " oncontextmenu="return false"
                                       >
                                        <img src="/static/img/Vector1.svg" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                        
                                    </div>
                                    <div count='8' class="imageBox10 imageBox " oncontextmenu="return false"
                                       >
                                        <img src="/static/img/Vector1.svg" alt="" class="imageOfUser">
                                        <div class="backColor"></div>
                                        
                                    </div> -->
                                </div>
                                <span onclick="deleteAll()">Очистить</span>
                            </div>
                            <div class="extraInfo">
                                <div>
                                   <h3>Совет</h3> <br>
                                   <label>Вы можете загрузить максимум 10 фотографий</label> 
                                </div>
                                <div class="mainTextInfo"><span class="firstPart lng-description">Описание</span><span
                                        class="secondPart lng-atLeast80"> (не менее 80 символов)</span></div>
                                <div><textarea maxlength="6000" id="message" cols="" rows="" name="post_description"
                                        class="lng-moreInp"
                                        placeholder="Подробно расскажите про товар. Подумайте какие подробности вы хотели бы узнать из объявления"
                                        oninput="titleProduct(this, 0)">{{post.description}}</textarea></div>
                                <div class="counter">
                                    <span class="currentValue">0</span>
                                    <span class="maxValue">/6000</span>
                                </div>
                            </div>
                        </div>

                        <div class="contactInformation">
                            <div class="textLine">
                                <h3 class="lng-contactInfo">Контактная Информация</h3>
                            </div>
                            <div class="periodOfInputs">
                                {% if post.phone_number %}
                                
                                <div class="locationInput">
                                    <span>Телефон</span>
                                    <input type="tel" class="phoneNumber" name="phone_number" value="{{post.phone_number}}" required>
                                </div>
                                {% else %}
                                <div class="locationInput">
                                    <span>Телефон</span>
                                    <input type="tel" class="phoneNumber" name="phone_number" required>
                                </div>
                                {% endif %}
                                {% if post.whatsapp_link %}
                              
                                <div class="locationInput">
                                    <span>Номер WhatsApp</span>
                                    <input type="tel" class="phoneNumber" name="whatsapp_phone_number" value="{{post.whatsapp_link}}" id="" required>
                                </div>
                                {% else %}
                                <div class="locationInput">
                                    <span>Номер WhatsApp</span>
                                    <input type="tel" class="phoneNumber" name="whatsapp_phone_number" id="" required>
                                </div>
                                {% endif %}
                                <div class="locationInput">
                                    <span>E-mail</span>
                                    <input type="email" name="" id="" value="{{session['userEmail']}}" required>
                                </div>
                            </div>
                        </div>
                        <input class="absolute" type="text" name="blobImages" style="display: none;">
                        <div class="twoButtons">
                            <div class="finalButtonDiv">
                                <input type="submit" class="lng-newBtnAd" formaction="/edit_post/{{post.id}}/{{lang}}" value="Подать объявление">
                            </div>
                            <div class="betaButtonDiv">
                                <input type="submit" formaction="/review/{{post.id}}/{{lang}}" value="Предпросмотр">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </section>

        <footer>
            <div class="footerChild">
                <div class="first">
                    <div class="text">usharal.kz<i class="fa-thin fa-calendar-circle-minus"></i></div>
                    <div>@ 2022 usharal.kz - все права защищены</div>
                    <div class="map">Карта сайта</div>
                </div>
                <div class="second">
                    <div class="text">Контакты</div>
                    <a href="" class="secondA">usharal_kz@gmail.com</a>
                    <a href="" class="secondA">+7(705) 332 2343</a>
                </div>
                <div class="third">
                    <button class="up fa fa-arrow-up"></button>
                </div>
            </div>
        </footer>
    </div>
    <div class="shadow">
        <div class="cityList">
            <div class="inputModal">
                <input type="text" name="" id="" placeholder="Введите название" spellcheck="true">
            </div>
            <ul class="ul">
                <li>Алматинская область</li>
                <li>Акмолинская область</li>
                <li>Атырауская область</li>
                <li>Актюбинская область</li>
                <li>Восточно-Казахстанская область</li>
                <li>Жамбылская область</li>
                <li>Западно-Казахстанская область</li>
                <li>Карагандинская область</li>
                <li>Костанайская область</li>
                <li>Кызылординская область</li>
                <li>Мангистауская область</li>
                <li>Павлодарская область</li>
                <li>Северо-Казахстанская область</li>
                <li>Туркестанская область</li>
                <li>Нур-Султан</li>
                <li>Алматы</li>
                <li>Шымкент</li>
            </ul>

            <ul class="ul" name="category">
                <li value="1">Услуги</li>
                <li value="2">Электроника</li>
                <li value="3">Личные вещи</li>
                <li value="4">Детям</li>
                <li value="5">Для Бизнеса</li>
                <li value="6">Животные</li>
                <li value="7">Для дома</li>
                <li value="8">Работа</li>
                <li value="9">Хобби и спорт</li>
                <li value="10">Недвижимость</li>
                <li value="11">Транспорт</li>
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vuemin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imask.js') }}"></script>
    <script src="{{ url_for('static', filename='js/icons.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newPost.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lang.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>

    <script>
        var dictLang = {
            'rulang': 'ru',
            'kzlang': 'kz'
        }
        hash = dictLang[document.querySelector('#lang_hidden').innerText]
        changeLang()
    </script>
    <!-- <script src="js/counter.js"></script> -->
    <style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script src="{{ url_for('static', filename='js/vuemin.js') }}"></script>

    <script>
        
    </script>

</body>

</html>