<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width;">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/myPosts.css">
    <link rel="stylesheet" href="../static/css/scroll.css">
    <link rel="stylesheet" href="../static/css/error_page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="all">
        <header>
            <div class="headerChild">
                <div class="text" title="Вернуться к главной странице"><a href="/" style='text-decoration:none' class="text">usharal.kz</a></div>
                <div class="lang"><span class="langSpan rus chosen">рус </span>|<span class="qaz langSpan"> қаз</span></div>
                <div class="moreItems">
                    <div class="dropdown">
                        <span class="lng-personal"><i class="fa-regular fa-user "></i> Личный Кабинет</span>
                        <div class="dropdown-content">
                            <a href="{{menu[0].url}}" class="lng-message messages">{{menu[0].name}}</a>
                            <a href="{{menu[1].url}}" class="lng-myPosts messages">{{menu[1].name}}</a>
                            <a href="{{menu[2].url}}" class="lng-payment messages">{{menu[2].name}}</a>
                            <a href="{{menu[3].url}}" class="lng-myProfile messages">{{menu[3].name}}</a>
                            <a href="{{menu[4].url}}" class="lng-exit messages">{{menu[4].name}}</a>
                          </div>
                    </div>
                    <span class="favourite"><a href="{{'favorites'}}" class="lng-favourite-second "><i class="fa-regular fa-heart"></i> Избранные</a></span>
                    <span class=" messages"><a  class="lng-message-second" href="{{'messages'}}" ><i class="fa-regular fa-comment"></i> Сообщения</a></span>
                </div>
                <div class="newObject">
                    <a href="{{'newpost'}}"><button class="add lng-newPost">Подать объявление</button></a>
                </div>
                <div>
                    <a style='text-decoration:none' class="text" href="{{uuurl}}">{{username}}</a>
                </div>
            </div>
        </header>
        
        <div class="mask"></div>
        <section class="error_page_section">
            <img src="../static/img/img_359860.png"  alt="" srcset="">
            <div class="lng-problem">Произошла некая ошибка</div>
            <a href="/">Вернуться на главную</a>
        </section>
    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/lang.js"></script>
    <style>
        *{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script src="../static/js/vuemin.js"></script>
    <script src="../static/js/vuemin.js"></script>
    <script src="../static/js/icons.js" crossorigin="anonymous"></script>
    </div>
</body>
</html>