<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width;">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/myPosts.css">
    <link rel="stylesheet" href="../static/css/scroll.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="all">
        <header>
            <div class="headerChild">
                <div class="text" title="Вернуться к главной странице"><a href="/" style='text-decoration:none' class="text">usharal.kz</a></div>
                <div class="lang"><span class="langSpan rus chosen">рус </span>|<span class="qaz langSpan"> қаз</span></div>
                <div class="moreItems">
                    <div class="dropdown">
                        <span class="fa-regular fa-user lng-personal"> Личный Кабинет</span>
                        
                        <div class="dropdown-content">
                            
                            {% for m in menu %}
                            <a href="{{m.url}}" class="lng-message messages">{{m.name}}</a>
                            {% endfor -%}
                          </div>
                        
                    </div>
                    <span class="fa-regular fa-heart lng-favourite-second favourite"> Избранные</span>
                    <span class="fa-regular fa-comment lng-message-second messages"> Сообщения</span>
                </div>
                <div class="newObject">
                    <button class="add lng-newPost">Подать объявление</button>
                </div>
                <div>
                    <a style='text-decoration:none' class="text" href="{{uuurl}}">{{username}}</a>
                </div>
            </div>
        </header>
        <section class="messageSection active">
            <div class="mask"></div>
            <div class="messageSectionChild">
                <div class="headerMessage">
                    <div class="div1">
                        <div class="divPart1">
                            <span class="messageText">Мои объявления</span>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="divPart2">
                            <span class="messageLink message lng-message">Сообщения</span>
                            <span class="messageLink lng-myPosts activeLink">Мои объявления</span>
                            <span class="messageLink lng-payment">Платежи и счёт</span>
                            <span class="messageLink lng-myProfile">Мой профиль</span>
                        </div>
                        
                    </div>
                </div>
               <!--<section class="mainMessage activePart">
                    <div class="contactSide">
                        <div class="sellAndBye">
                            <div class="sell activeLink btnSAB">Продаю</div>
                            <div class="bye btnSAB">Покупаю</div>
                        </div>
                        <div class="messageCategories">
                            <span class="allMessages messagesType activeLink">Все</span>
                            <span class="favouriteMessages messagesType">Избранные</span>
                            <span class="trashMessages messagesType">Корзина</span>
                        </div>
                    </div>
                    <div class="messageSide"></div>
                </section> -->
                <section class="myPosts">
                    <div class="myPostsInner">
                        <div class="header">
                            <div class="allStatusOfPosts">
                                <span class="activeMPC lng-active activeLink">Активные</span>
                                <span class="nonActive lng-nonActive">Не активные</span>
                                <span class="deleted lng-trash">Корзина</span>
                            </div>
                            
                        </div>
                        <div class="mainMyPostsContent findWithThat">
                            <div class="searchPartMy">
                                <input type="text" class = 'lng-searchByTitle'placeholder="Поиск по заголовку">
                                <div class="searchControl">
                                    <div class="verticalLine"></div>
                                    <div class="chooseCategory allCat"onclick="modal('newPost', 0)">
                                        <div classParent = 'mainMyPostsContent' class="allCatChild lng-categories-two" onclick="modal('newPost', 0)">Все категории </div><i class="fa-solid arrow fa-angle-down"></i>
                                    </div>
                                    <div class="verticalLine"></div>
                                    <!-- <div class="sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></div> -->
                                    <div onclick="myFunction(this.classList[1])"class="wholeList wholeListOne">
                                        <button  class="wholeList-btn sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></button>
                                        <div id="myDropdown" class="wholeList-content">
                                          <a href="#" onclick="insert(this, 0)">По возростанию <i class="fa-solid arrow fa-angle-up"></i> </a> 
                                          <a href="#" onclick="insert(this, 0)">По убыванию <i class="fa-solid arrow fa-angle-down"></i> </a> 
                                          <a href="#" onclick="insert(this, 0)">По Умолчанию  </a> 
                                        </div>
                                      </div>
                                    <div class="forButton">
                                        <button class="fa-solid fa-search" ></button>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseAllAndDel">
                               <div class="chooseDiv">
                                    <input type="checkbox"  name="chooseAll" id="check" onchange="checkboxFunc(0)">
                                    <label for="chooseAll">Выбрать все</label>
                               </div>
                               <div class="delAll">
                                    <span class="absolutelyNotYou">В Корзину</span>
                               </div>
                            </div>
                            <div class="allMyContent visible">

                        {% block content %}    
                            {% for post in posts %}
                                {% if post.status == 1 %}
                                <div class="myContent">
                                    <div class="lineForCheckbox">
                                        <input type="checkbox" onchange = "  " name="" id="check">
                                    </div>
                                    <div class="boxForCon">
                                        <div class="forImg">
                                            <img src="data:;base64, {{post.photos[0]}}" alt="" srcset="">
                                        </div>
                                        <div class="forMainContent">
    
                                            <div class="blocks nameOfTheProduct">
                                                <a href="/content/{{post.id}}" style="color: black; text-decoration:underline;">{{post.title}}</a>
                                            </div>
                                            <div class="blocks a">
                                                                                              <a href="">Электроника </a>
                                            </div>
                                            <div class="blocks"><input readonly class="cost" value="{{post.cost}}"><span class="isFree">(возможен обмен)</span></div>
                                            <div class="blocks dataDate">
                                                <span class="publishDate">
                                                    <i class="calen fa fa-calendar-plus-o"></i> <span class="bold">Дата добавления    </span> - {{post.post_date}}
                                                </span>
                                                <span class="deleteDate">
                                                    <i class=" calen fa fa-calendar-minus-o"></i> <span class="bold">Дата удаления</span> - {{post.deactivate_date}}
                                                </span>
                                            </div>
                                            <div class="blocks">
                                                <div class="signs">
                                                    <i class="fa fa-eye"></i><span class="number">1</span>
                                                    <i class='fa fa-heart-o'></i><span class="number">1</span>
                                                    <i class="fa-regular fa-comment"></i><span class="number">1</span>
                                                </div>
                                                <div class="buttons">
                                                    <button>Редактировать</button>
                                                    <button><a href="/post_deactivation/{{post.id}}" style="color: black; text-decoration:none;">Деактивировать</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        
                            </div>
                                
                           
                           
                          
                            <div class="imgThink close">
                                <img src="img/think.png" alt="no">
                                <span>Ничего не найдено</span>
                            </div>
                            <div class="bottomBut">
                                <div class="myContentAngle firstCon">
                                    <span class="fa-solid fa-angles-left"></span>
                                </div>
                                <div class="myContentAngle previousMyContents" >
                                    <span class="fa-solid  fa-angle-left" ></span>
                                </div>
                                <div class="lineForNewButtons"></div>
                                <div class="myContentAngle nextMyContents" >
                                    <span class="fa-solid  fa-angle-right"></span>
                                </div>
                                <div class="myContentAngle lastCon">
                                    <span class="fa-solid fa-angles-right"></span>
                                </div>
                            </div>
                            <!-- <div class="searchButtonLine">
                                <div class="myContentAngle firstCon">
                                    <span class="fa-solid fa-angles-left"></span>
                                </div>
                                <div class="myContentAngle previousMyContents" >
                                    <span class="fa-solid  fa-angle-left" ></span>
                                </div>
                                <div class="lineForNewButtons"></div>
                                <div class="myContentAngle nextMyContents" >
                                    <span class="fa-solid  fa-angle-right"></span>
                                </div>
                                <div class="myContentAngle lastCon">
                                    <span class="fa-solid fa-angles-right"></span>
                                </div>
                            </div> -->
                         
                            
                        </div>
                      
                        <div class="nonActivePosts findWithThat mpc">
                            <div class="searchPartMy">
                                <input type="text" placeholder="Поиск по заголовку">
                                <div class="searchControl">
                                    <div class="verticalLine"></div>
                                    <div class="chooseCategory allCat"onclick="modal('newPost',1)">
                                        <div classParent = '' class="allCatChild" onclick="modal('newPost')">Все категории </div><i class="fa-solid arrow fa-angle-down"></i>
                                    </div>
                                    <div class="verticalLine"></div>
                                    <!-- <div class="sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></div> -->
                                    <div onclick="myFunction(this.classList[1])"class="wholeList wholeListTwo">
                                        <button  class="wholeList-btn sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></button>
                                        <div id="myDropdown" class="wholeList-content">
                                          <a href="#" onclick="insert(this, 1)">По возростанию <i class="fa-solid arrow fa-angle-up"></i> </a> 
                                          <a href="#" onclick="insert(this, 1)">По убыванию <i class="fa-solid arrow fa-angle-down"></i> </a> 
                                          <a href="#" onclick="insert(this, 1)">По Умолчанию  </a> 
                                        </div>
                                      </div>
                                    <div class="forButton">
                                        <button class="fa-solid fa-search" ></button>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseAllAndDel">
                               <div class="chooseDiv">
                                    <input type="checkbox"  name="chooseAll" id="check" onchange="checkboxFunc(1)">
                                    <label for="chooseAll">Выбрать все</label>
                               </div>
                               <div class="delAll">
                                    <span class="absolutelyNotYou">В Корзину</span>
                               </div>
                            </div>
                           
                            <div class="allMyContent visible">
                                   
                            {% for post in posts %}
                                {% if post.status == 0 %}
                                <div class="myContent">
                                    <div class="lineForCheckbox">
                                        <input type="checkbox" onchange = "  " name="" id="check">
                                    </div>
                                    <div class="boxForCon">
                                        <div class="forImg">
                                            <img src="data:;base64, {{post.photos[0]}}" alt="" srcset="">
                                        </div>
                                        <div class="forMainContent">
    
                                            <div class="blocks nameOfTheProduct">
                                                <a href="/content/{{post.id}}" style="color: black; text-decoration:underline;">{{post.title}}</a>
                                            </div>
                                            <div class="blocks a">
                                                                                              <a href="">Электроника </a>
                                            </div>
                                            <div class="blocks"><input readonly class="cost" value="{{post.cost}}"><span class="isFree">(возможен обмен)</span></div>
                                            <div class="blocks dataDate">
                                                <span class="publishDate">
                                                    <i class="calen fa fa-calendar-plus-o"></i> <span class="bold">Дата добавления    </span> - {{post.post_date}}
                                                </span>
                                                <span class="deleteDate">
                                                    <i class=" calen fa fa-calendar-minus-o"></i> <span class="bold">Дата удаления</span> - {{post.deactivate_date}}
                                                </span>
                                            </div>
                                            <div class="blocks">
                                                <div class="signs">
                                                    <i class="fa fa-eye"></i><span class="number">1</span>
                                                    <i class='fa fa-heart-o'></i><span class="number">1</span>
                                                    <i class="fa-regular fa-comment"></i><span class="number">1</span>
                                                </div>
                                                <div class="buttons">
                                                    <button>Редактировать</button>
                                                    <button><a href="/post_activation/{{post.id}}" style="color: black; text-decoration:none;">Aктивировать</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endblock content %}
                            </div>
                               
                              
                                <div class="imgThink close">
                                    <img src="img/think.png" alt="no">
                                    <span>Ничего не найдено</span>
                                </div>
                                <div class="bottomBut">
                                    <div class="myContentAngle firstCon">
                                        <span class="fa-solid fa-angles-left"></span>
                                    </div>
                                    <div class="myContentAngle previousMyContents" >
                                        <span class="fa-solid  fa-angle-left" ></span>
                                    </div>
                                    <div class="lineForNewButtons"></div>
                                    <div class="myContentAngle nextMyContents" >
                                        <span class="fa-solid  fa-angle-right"></span>
                                    </div>
                                    <div class="myContentAngle lastCon">
                                        <span class="fa-solid fa-angles-right"></span>
                                    </div>
                                </div>
                                <!-- <div class="searchButtonLine">
                                    <div class="myContentAngle firstCon">
                                        <span class="fa-solid fa-angles-left"></span>
                                    </div>
                                    <div class="myContentAngle previousMyContents" >
                                        <span class="fa-solid  fa-angle-left" ></span>
                                    </div>
                                    <div class="lineForNewButtons"></div>
                                    <div class="myContentAngle nextMyContents" >
                                        <span class="fa-solid  fa-angle-right"></span>
                                    </div>
                                    <div class="myContentAngle lastCon">
                                        <span class="fa-solid fa-angles-right"></span>
                                    </div>
                                </div> -->
                             
                            
                         
                            
                       
                        </div>
                        
                        <div class="trashMyPostsContent findWithThat mpc">
                            <div class="searchPartMy">
                                <input type="text" placeholder="Поиск по заголовку">
                                <div class="searchControl">
                                    <div class="verticalLine"></div>
                                    <div class="chooseCategory allCat"onclick="modal('newPost',2)">
                                        <div classParent = 'mainMyPostsContent' class="allCatChild" onclick="modal('newPost')">Все категории </div><i class="fa-solid arrow fa-angle-down"></i>
                                    </div>
                                    <div class="verticalLine"></div>
                                    <!-- <div class="sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></div> -->
                                    <div onclick="myFunction(this.classList[1])"class="wholeList wholeListThree">
                                        <button  class="wholeList-btn sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></button>
                                        <div id="myDropdown" class="wholeList-content">
                                          <a href="#" onclick="insert(this, 2)">По возростанию <i class="fa-solid arrow fa-angle-up"></i> </a> 
                                          <a href="#" onclick="insert(this, 2)">По убыванию <i class="fa-solid arrow fa-angle-down"></i> </a> 
                                          <a href="#" onclick="insert(this, 2)">По Умолчанию  </a> 
                                        </div>
                                      </div>
                                    <div class="forButton">
                                        <button class="fa-solid fa-search" ></button>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseAllAndDel">
                               <div class="chooseDiv">
                                    <input type="checkbox"  name="chooseAll" id="check" onchange="checkboxFunc(2)">
                                    <label for="chooseAll">Выбрать все</label>
                               </div>
                               <div class="delAll">
                                    <span class="absolutelyNotYou">В Корзину</span>
                               </div>
                            </div>
                           
                            <div class="allMyContent visible">
                                <div class="myContent">
                                    <div class="lineForCheckbox">
                                        <input type="checkbox" onchange = "  " name="" id="check">
                                    </div>
                                    <div class="boxForCon">
                                        <div class="forImg">
                                            <img src="img/ex.png" alt="" srcset="">
                                        </div>
                                        <div class="forMainContent">
    
                                            <div class="blocks nameOfTheProduct">
                                                1
                                            </div>
                                            <div class="blocks a">
                                                                                              <a href="">Электроника </a>
                                            </div>
                                            <div class="blocks"><input readonly class="cost" value="90000000"><span class="isFree">(возможен обмен)</span></div>
                                            <div class="blocks dataDate">
                                                <span class="publishDate">
                                                    <i class="calen fa fa-calendar-plus-o"></i> <span class="bold">Дата добавления    </span> - 12.07.2022
                                                </span>
                                                <span class="deleteDate">
                                                    <i class=" calen fa fa-calendar-minus-o"></i> <span class="bold">Дата удаления</span> - 13.07.2022
                                                </span>
                                            </div>
                                            <div class="blocks">
                                                <div class="signs">
                                                    <i class="fa fa-eye"></i><span class="number">1</span>
                                                    <i class='fa fa-heart-o'></i><span class="number">1</span>
                                                    <i class="fa-regular fa-comment"></i><span class="number">1</span>
                                                </div>
                                                <div class="buttons">
                                                    <button>Активировать</button>
                                                    <button>Редактировать</button>
                                                    <button>Деактивировать</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                               
                               
                              
                                <div class="imgThink close">
                                    <img src="img/think.png" alt="no">
                                    <span>Ничего не найдено</span>
                                </div>
                                <div class="bottomBut">
                                    <div class="myContentAngle firstCon">
                                        <span class="fa-solid fa-angles-left"></span>
                                    </div>
                                    <div class="myContentAngle previousMyContents" >
                                        <span class="fa-solid  fa-angle-left" ></span>
                                    </div>
                                    <div class="lineForNewButtons"></div>
                                    <div class="myContentAngle nextMyContents" >
                                        <span class="fa-solid  fa-angle-right"></span>
                                    </div>
                                    <div class="myContentAngle lastCon">
                                        <span class="fa-solid fa-angles-right"></span>
                                    </div>
                                </div>
                                <!-- <div class="searchButtonLine">
                                    <div class="myContentAngle firstCon">
                                        <span class="fa-solid fa-angles-left"></span>
                                    </div>
                                    <div class="myContentAngle previousMyContents" >
                                        <span class="fa-solid  fa-angle-left" ></span>
                                    </div>
                                    <div class="lineForNewButtons"></div>
                                    <div class="myContentAngle nextMyContents" >
                                        <span class="fa-solid  fa-angle-right"></span>
                                    </div>
                                    <div class="myContentAngle lastCon">
                                        <span class="fa-solid fa-angles-right"></span>
                                    </div>
                                </div>
                            
                          -->
                            
                        </div>
                       
                    </div>
                    
                    
                </section>
               

                
                
            </div>
        </section>
        
        <footer>
            <div class="footerChild">
                <div class="first">
                    <div class="text">usharal.kz<i class="fa-thin fa-calendar-circle-minus"></i></div>
                    <div>@ 2022 usharal.kz - все права защищены</div>
                    <div class="map">Карта сайта</div>
                </div>
                <div class="second">
                    <div class="text">Контакты</div>
                    <a href="" class="secondA">usharal_kz@gmail.com</a>
                    <a href="" class="secondA">+7(705) 332 2343</a>
                </div>
                <div class="third">
                    <button class="up fa fa-arrow-up"></button>
                </div>
            </div>
        </footer>
    </div>
    <div class="shadow">
        <div class="cityList">
            <div class="inputModal">
                <input type="text" name="" id="" placeholder="Введите название" spellcheck="true">
            </div>
            <ul class="ul">
                <li>Алматинская область</li>
                <li>Акмолинская область</li>
                <li>Атырауская область</li>
                <li>Актюбинская область</li>
                <li>Восточно-Казахстанская область</li>
                <li>Жамбылская область</li>
                <li>Западно-Казахстанская область</li>
                <li>Карагандинская область</li>
                <li>Костанайская область</li>
                <li>Кызылординская область</li>
                <li>Мангистауская область</li>
                <li>Павлодарская область</li>
                <li>Северо-Казахстанская область</li>
                <li>Туркестанская  область</li>
                <li>Нур-Султан</li>
                <li>Алматы</li>
                <li>Шымкент</li>
            </ul>
            <ul class="ul">
                <li>Услуги</li>
                <li>Электроника</li>
                <li>Личные вещи</li>
                <li>Детям</li>
                <li>Для Бизнеса</li>
                <li>Животные</li>
                <li>Для дома</li>
                <li>Работа</li>
                <li>Хобби и спорт</li>
                <li>Недвижимость</li>
                <li>Транспорт</li>
            </ul>
        </div>
    </div>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://kit.fontawesome.com/db48927ab0.js" crossorigin="anonymous"></script>
    <script src="../static/js/imask.js"></script>
    <script src="../static/js/myPostsNew.js" defer></script>
    <script src="../static/js/ex.js" defer></script>
    <script src="../static/js/lang.js"></script>
    <!-- <script src="js/counter.js"></script> -->
    <style>
        *{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
</body>
</html>
