<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width;">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/myPosts.css">
    <link rel="stylesheet" href="../static/css/scroll.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="all">
        <header>
            <div class="headerChild">

                <div class="text" title="Вернуться к главной странице"><a
                        href="{{url_for('index', lang=session['lang'])}}" style='text-decoration:none'
                        class="text">{{title}}</a></div>
                {% if lang == 'rulang' %}
                <div class="lang"><a href='rulang' class="langSpan rus chosen">рус </a>|<a href='kzlang'
                        class="qaz langSpan">
                        қаз</a>
                </div>
                {% elif lang == 'kzlang' %}
                <div class="lang"><a href='rulang' class="langSpan rus">рус </span>|<a href='kzlang'
                            class="qaz langSpan chosen"> қаз</a>
                </div>
                {% endif %}
                <div id="lang_hidden" hidden>{{lang}}</div>
                <div class="moreItems">
                    <div class="dropdown">
                        <span class="lng-personal"><i class="fa-regular fa-user "></i> Личный Кабинет</span>
                        <div class="dropdown-content">
                            <a class="lng-message messages" href="{{url_for('messages', lang=session['lang'])}}">
                                {{menu[0].name}}</a>
                            <a class="lng-myPosts messages" href="{{url_for('myposts', lang=session['lang'])}}">
                                {{menu[1].name}}</a>
                            <a href="{{url_for('payments', lang=session['lang'])}}"
                                class="lng-payment messages">{{menu[2].name}}</a>
                            <a href="{{url_for('myprofile', lang=session['lang'])}}"
                                class="lng-myProfile messages">{{menu[3].name}}</a>
                            <a href="{{url_for('logout', lang=session['lang'])}}"
                                class="lng-exit messages">{{menu[4].name}}</a>
                        </div>
                    </div>
                    <span class="favourite"><a href="{{url_for('favorites', lang=session['lang'])}}"
                            class=" lng-favourite-second "><i class=" fa-regular fa-heart"></i> Избранные</a></span>
                    <span class=" messages"><a class="lng-message-second"
                            href="{{url_for('messages', lang=session['lang'])}}"><i class="fa-regular fa-comment"></i>
                            Сообщения</a></span>
                </div>
                <div class="newObject">
                    <a href="{{url_for('newpost', lang=session['lang'])}}"><button class="add lng-newPost">Подать
                            объявление</button></a>
                </div>
                <div class="lastel">
                    {% if lenOfUserName <= 11 %} <a style='text-decoration:none;' class="text"
                        href="{{url_for('myprofile', lang=session['lang'])}}">{{username}}</a>
                        {% else %}
                        <a style='text-decoration:none;' class="text lng-nickProfile"
                            href="{{url_for('myprofile', lang=session['lang'])}}">Мой профиль</a>
                        {% endif %}
                </div>
            </div>
        </header>

        <section class="messageSection active">
            <div class="mask"></div>
            <div class="messageSectionChild">
                <div class="headerMessage">
                    <div class="div1">
                        <div class="divPart1">
                            <span class="messageText lng-myPosts">Мои объявления</span>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="divPart2">

                            <span class="messageLink message"><a class="lng-message"
                                    href="{{url_for('messages', lang=session['lang'])}}"
                                    style="color: black; text-decoration:none;">Сообщения</a></span>
                            <span class="messageLink activeLink"><a class="lng-myPosts"
                                    href="{{url_for('myposts', lang=session['lang'])}}"
                                    style="color: #ffc53a; text-decoration:none;">Мои объявления</a></span>
                            <span class="messageLink"><a class="lng-payment"
                                    href="{{url_for('payments', lang=session['lang'])}}"
                                    style="color: black; text-decoration:none;">Платежи и счёт</a></span>
                            <span class="messageLink"><a class="lng-myProfile"
                                    href="{{url_for('myprofile', lang=session['lang'])}}"
                                    style="color: black; text-decoration:none;">Мой профиль</a></span>
                        </div>

                    </div>
                </div>
                <!--<section class="mainMessage activePart">
                        <div class="contactSide">
                            <div class="sellAndBye">
                                <div class="sell activeLink btnSAB">Продаю</div>
                                <div class="bye btnSAB">Покупаю</div>
                            </div>
                            <div class="messageCategories">
                                <span class="allMessages messagesType activeLink">Все</span>
                                <span class="favouriteMessages messagesType">Избранные</span>
                                <span class="trashMessages messagesType">Корзина</span>
                            </div>
                        </div>
                        <div class="messageSide"></div>
                    </section> -->
                <section class="myPosts">
                    <div class="myPostsInner">
                        <div class="header">
                            <div class="allStatusOfPosts">
                                <span class="activeMPC lng-active activeLink">Активные</span>
                                <span class="nonActive lng-non-active">Не активные</span>
                            </div>

                        </div>
                        <div class="mainMyPostsContent findWithThat">
                            <div class="searchPartMy">
                                <input type="text" class='lng-searchByTitle' placeholder="Поиск по заголовку">
                                <div class="searchControl">

                                    <!-- <div class="chooseCategory allCat" onclick="modal('newPost', 0)">
                                        <div classParent='mainMyPostsContent' class="allCatChild lng-categories-two"
                                            onclick="modal('newPost', 0)">Все категории </div><i
                                            class="fa-solid arrow fa-angle-down"></i>
                                    </div> -->

                                    <!-- <div class="sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></div> -->


                                </div>
                            </div>
                            <div class="chooseAllAndDel">
                                <!-- <div class="chooseDiv">
                                    <input type="checkbox" name="chooseAll" id="check" onchange="checkboxFunc(0)">
                                    <label for="chooseAll">Выбрать все</label>
                                </div> -->

                            </div>
                            <div class="allMyContent visible">

                                {% block content %}
                                {% for post in posts %}
                                {% if post.status == 1 %}

                                <div class="myContent">

                                    <!-- <div class="lineForCheckbox">
                                        <input type="checkbox" onchange="  " name="" id="check">
                                    </div> -->
                                    <div class="boxForCon">
                                        <a href="/content/{{post.id}}/{{lang}}"
                                            style="color: black; text-decoration:none;">

                                            <div class="forImg">
                                                <img src="data:;base64, {{post.photos}}" alt="" srcset="">
                                            </div>
                                        </a>

                                        <div class="forMainContent">
                                            <a href="/content/{{post.id}}/{{lang}}"
                                                style="color: black; text-decoration:none;">

                                                <div class="blocks nameOfTheProduct">
                                                    <div style="color: black; text-decoration:underline;">{{post.title}}
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="blocks a">
                                                <a href="" class="{{cat[post.category]}}">{{post.category}}</a>
                                            </div>
                                            <div class="blocks"><input readonly class="cost" value="{{post.cost}}"><span
                                                    class="isFree {{cat[post.facility]}}">{{post.facility}}</span>

                                            </div>
                                            <div class="blocks dataDate">
                                                <span class="publishDate">
                                                    <i class="calen fa fa-calendar-plus-o"></i> <span
                                                        class="bold lng-published_day">Дата
                                                        добавления </span> - {{post.post_date}}
                                                </span>
                                                <span class="deleteDate">
                                                    <i class=" calen fa fa-calendar-minus-o"></i> <span
                                                        class="bold lng-deactivation_day">Дата
                                                        деактивации</span> - {{post.deactivate_date}}
                                                </span>
                                            </div>
                                            <div class="blocks">
                                                <div class="signs">
                                                    <i class="fa fa-eye"></i><span
                                                        class="number">{{post.view_counter}}</span>
                                                    <i class='fa fa-heart-o'></i><span
                                                        class="number">{{post.fav_counter}}</span>
                                                    <i class="fa-regular fa-comment"></i><span class="number">1</span>
                                                </div>
                                                <div class="buttons">
                                                    <button><a href="/edit_post/{{post.id}}/{{session['lang']}}"
                                                            style="color: black; text-decoration:none;"
                                                            class="lng-post_update">Редактировать</a></button>
                                                    <button><a
                                                            href="/post_deactivation/{{post.id}}/{{d_token}}/{{session['lang']}}"
                                                            style="color: black; text-decoration:none;"
                                                            class="lng-post_deactivate">Деактивировать</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>




                            <div class="imgThink close">
                                <img src="static/img/think.png" alt="no">
                                <span>Ничего не найдено</span>
                            </div>
                            <div class="bottomBut">
                                <div class="myContentAngle firstCon">
                                    <span class="fa-solid fa-angles-left"></span>
                                </div>
                                <div class="myContentAngle previousMyContents">
                                    <span class="fa-solid  fa-angle-left"></span>
                                </div>
                                <div class="lineForNewButtons"></div>
                                <div class="myContentAngle nextMyContents">
                                    <span class="fa-solid  fa-angle-right"></span>
                                </div>
                                <div class="myContentAngle lastCon">
                                    <span class="fa-solid fa-angles-right"></span>
                                </div>
                            </div>
                            <!-- <div class="searchButtonLine">
                                    <div class="myContentAngle firstCon">
                                        <span class="fa-solid fa-angles-left"></span>
                                    </div>
                                    <div class="myContentAngle previousMyContents" >
                                        <span class="fa-solid  fa-angle-left" ></span>
                                    </div>
                                    <div class="lineForNewButtons"></div>
                                    <div class="myContentAngle nextMyContents" >
                                        <span class="fa-solid  fa-angle-right"></span>
                                    </div>
                                    <div class="myContentAngle lastCon">
                                        <span class="fa-solid fa-angles-right"></span>
                                    </div>
                                </div> -->


                        </div>

                        <div class="nonActivePosts findWithThat mpc">
                            <div class="searchPartMy">
                                <input type="text" class="lng-searchByTitle" placeholder="Поиск по заголовку">
                                <div class="searchControl">
                                    <!-- 
                                    <div class="chooseCategory allCat" onclick="modal('newPost',1)">
                                        <div classParent='' class="allCatChild" onclick="modal('newPost')">Все категории
                                        </div><i class="fa-solid arrow fa-angle-down"></i>
                                    </div> -->

                                    <!-- <div class="sort">Сортировать по <i class="fa-solid arrow fa-angle-down"></i></div> -->

                                </div>
                            </div>
                            <!-- <div class="chooseAllAndDel">
                                <div class="chooseDiv">
                                    <input type="checkbox" name="chooseAll" id="check" onchange="checkboxFunc(1)">
                                    <label for="chooseAll">Выбрать все</label>
                                </div>

                            </div> -->

                            <div class="allMyContent visible">

                                {% for post in posts %}
                                {% if post.status == 0 %}
                                <div class="myContent">
                                    <!-- <div class="lineForCheckbox">
                                        <input type="checkbox" onchange="  " name="" id="check">
                                    </div> -->
                                    <div class="boxForCon">
                                        <div class="forImg">
                                            <img src="data:;base64, {{post.photos}}" alt="" srcset="">
                                        </div>
                                        <div class="forMainContent">

                                            <div class="blocks nameOfTheProduct">
                                                <a href="/content/{{post.id}}"
                                                    style="color: black; text-decoration:underline;">{{post.title}}</a>
                                            </div>
                                            <div class="blocks a">
                                                <a href="" class="{{cat[post.category]}}">{{post.category}}</a>
                                            </div>
                                            <div class="blocks"><input readonly class="cost" value="{{post.cost}}"><span
                                                    class="isFree {{cat[post.facility]}}">{{post.facility}}</span></div>
                                            <div class="blocks dataDate">
                                                <span class="publishDate">
                                                    <i class="calen fa fa-calendar-plus-o"></i> <span
                                                        class="bold lng-published_day">Дата
                                                        добавления </span> - {{post.post_date}}
                                                </span>
                                                <span class="deleteDate">
                                                    <i class=" calen fa fa-calendar-minus-o"></i> <span
                                                        class="bold lng-delete_day">Дата
                                                        удаления</span> - {{post.deactivate_date}}
                                                </span>
                                            </div>
                                            <div class="blocks">
                                                <div class="signs">
                                                    <i class="fa fa-eye"></i><span
                                                        class="number">{{post.view_counter}}</span>
                                                    <i class='fa fa-heart-o'></i><span
                                                        class="number">{{post.fav_counter}}</span>
                                                    <i class="fa-regular fa-comment"></i><span class="number">1</span>
                                                </div>
                                                <div class="buttons">
                                                    <button class="lng-post_update">Редактировать</button>
                                                    <button><a
                                                            href="/post_activation/{{post.id}}/{{a_token}}/{{session['lang']}}"
                                                            class="lng-post_activate"
                                                            style="color: black; text-decoration:none;">Aктивировать</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endblock content %}
                            </div>


                            <div class="imgThink close">
                                <img src="img/think.png" alt="no">
                                <span>Ничего не найдено</span>
                            </div>
                            <div class="bottomBut">
                                <div class="myContentAngle firstCon">
                                    <span class="fa-solid fa-angles-left"></span>
                                </div>
                                <div class="myContentAngle previousMyContents">
                                    <span class="fa-solid  fa-angle-left"></span>
                                </div>
                                <div class="lineForNewButtons"></div>
                                <div class="myContentAngle nextMyContents">
                                    <span class="fa-solid  fa-angle-right"></span>
                                </div>
                                <div class="myContentAngle lastCon">
                                    <span class="fa-solid fa-angles-right"></span>
                                </div>
                            </div>
                            <!-- <div class="searchButtonLine">
                                        <div class="myContentAngle firstCon">
                                            <span class="fa-solid fa-angles-left"></span>
                                        </div>
                                        <div class="myContentAngle previousMyContents" >
                                            <span class="fa-solid  fa-angle-left" ></span>
                                        </div>
                                        <div class="lineForNewButtons"></div>
                                        <div class="myContentAngle nextMyContents" >
                                            <span class="fa-solid  fa-angle-right"></span>
                                        </div>
                                        <div class="myContentAngle lastCon">
                                            <span class="fa-solid fa-angles-right"></span>
                                        </div>
                                    </div> -->





                        </div>


                    </div>


                </section>




            </div>
        </section>

        <footer>
            <div class="footerChild">
                <div class="first">
                    <div class="text">usharal.kz<i class="fa-thin fa-calendar-circle-minus"></i></div>
                    <div>@ 2022 usharal.kz - все права защищены</div>
                    <div class="map">Карта сайта</div>
                </div>
                <div class="second">
                    <div class="text">Контакты</div>
                    <a href="" class="secondA">usharal_kz@gmail.com</a>
                    <a href="" class="secondA">+7(705) 332 2343</a>
                </div>
                <div class="third">
                    <button class="up fa fa-arrow-up"></button>
                </div>
            </div>
        </footer>
    </div>

    </div>
    <div class="shadow">
        <div class="cityList">
            <div class="inputModal">
                <input type="text" name="" id="" placeholder="Введите название" spellcheck="true">
            </div>
            <ul class="ul">
                <li>Алматинская область</li>
                <li>Акмолинская область</li>
                <li>Атырауская область</li>
                <li>Актюбинская область</li>
                <li>Восточно-Казахстанская область</li>
                <li>Жамбылская область</li>
                <li>Западно-Казахстанская область</li>
                <li>Карагандинская область</li>
                <li>Костанайская область</li>
                <li>Кызылординская область</li>
                <li>Мангистауская область</li>
                <li>Павлодарская область</li>
                <li>Северо-Казахстанская область</li>
                <li>Туркестанская область</li>
                <li>Нур-Султан</li>
                <li>Алматы</li>
                <li>Шымкент</li>
            </ul>
            <ul class="ul">
                <li>Услуги</li>
                <li>Электроника</li>
                <li>Личные вещи</li>
                <li>Детям</li>
                <li>Для Бизнеса</li>
                <li>Животные</li>
                <li>Для дома</li>
                <li>Работа</li>
                <li>Хобби и спорт</li>
                <li>Недвижимость</li>
                <li>Транспорт</li>
            </ul>
        </div>
    </div>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/vuemin.js"></script>
    <script src="../static/js/icons.js" crossorigin="anonymous"></script>
    <script src="../static/js/imask.js"></script>
    <script src="../static/js/myPostsNew.js" defer></script>
    <script src="../static/js/ex.js" defer></script>
    <script src="../static/js/lang.js"></script>
    <!-- <script src="js/counter.js"></script> -->
    <style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script src="../static/js/vuemin.js"></script>
</body>

</html>