<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width;">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/myPosts.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/scroll.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="all">
        <header>
            <div class="headerChild">

                <div class="text" title="Вернуться к главной странице"><a
                        href="{{url_for('index', lang=session['lang'])}}" style='text-decoration:none'
                        class="text">usharal.kz</a></div>
                {% if lang == 'rulang' %}
                <div class="lang"><a href='rulang' class="langSpan rus chosen">рус </a>|<a href='kzlang'
                        class="qaz langSpan">
                        қаз</a>
                </div>
                {% elif lang == 'kzlang' %}
                <div class="lang"><a href='rulang' class="langSpan rus">рус </span>|<a href='kzlang'
                            class="qaz langSpan chosen"> қаз</a>
                </div>
                {% endif %}
                <div id="lang_hidden" hidden>{{lang}}</div>
                <div class="moreItems">
                    <div class="dropdown">
                        <span class="lng-personal"><i class="fa-regular fa-user "></i> Личный Кабинет</span>
                        <div class="dropdown-content">
                            <a class="lng-message messages" href="{{url_for('messages', lang=session['lang'])}}">
                                {{menu[0].name}}</a>
                            <a class="lng-myPosts messages" href="{{url_for('myposts', lang=session['lang'])}}">
                                {{menu[1].name}}</a>
                            <a href="{{url_for('payments', lang=session['lang'])}}"
                                class="lng-payment messages">{{menu[2].name}}</a>
                            <a href="{{url_for('myprofile', lang=session['lang'])}}"
                                class="lng-myProfile messages">{{menu[3].name}}</a>
                            <a href="{{menu[4].url}}" class="lng-exit messages">{{menu[4].name}}</a>
                        </div>
                    </div>
                    <span class="favourite"><a href="{{url_for('favorites', lang=session['lang'])}}"
                            class=" lng-favourite-second "><i class=" fa-regular fa-heart"></i> Избранные</a></span>
                    <span class=" messages"><a class="lng-message-second"
                            href="{{url_for('messages', lang=session['lang'])}}"><i class="fa-regular fa-comment"></i>
                            Сообщения</a></span>
                </div>
                <div class="newObject">
                    <a href="{{url_for('newpost', lang=session['lang'])}}"><button class="add lng-newPost">Подать
                            объявление</button></a>
                </div>
                <div>
                    <a style='text-decoration:none' class="text"
                        href="{{url_for('myprofile', lang=session['lang'])}}">{{username}}</a>
                </div>
            </div>
        </header>
        <section class="messageSection active">
            <div class="mask"></div>
            <div class="messageSectionChild">
                <div class="headerMessage">
                    <div class="div1">
                        <div class="divPart1">
                            <span class="messageText lng-myProfile">Мой профиль</span>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="divPart2">
                            <span class="messageLink message"><a class="lng-message"
                                    href="{{url_for('messages', lang=session['lang'])}}"
                                    style="color: black; text-decoration:none;">Сообщения</a></span>
                            <span class="messageLink"><a class="lng-myPosts"
                                    href="{{url_for('myposts', lang=session['lang'])}}"
                                    style="color: black; text-decoration:none;">Мои объявления</a></span>
                            <span class="messageLink"><a class="lng-payment"
                                    href="{{url_for('payments', lang=session['lang'])}}"
                                    style="color: black; text-decoration:none;">Платежи и счёт</a></span>
                            <span class="messageLink activeLink"><a class="lng-myProfile"
                                    href="{{url_for('myprofile', lang=session['lang'])}}"
                                    style="color: #ffc53a; text-decoration:none;">Мой профиль</a></span>
                        </div>

                    </div>
                </div>
                <section class="myProfile">
                    {% block content %}
                    <div class="myProfileInner prof">
                        <div class="box boxForMainInformation">
                            <div class="mainTitle inner">
                                <h1 class="lng-seeProfile">Посмотреть профиль</h1>
                            </div>
                            <div class="spanWithInput inner">
                                <div><span class="firstPart lng-yourProfile">Ваше имя</span></div>
                                <div class="nameOfUser rInfo">
                                    {{username}}
                                </div>
                            </div>
                            <div class="spanWithInput inner">
                                <div><span class="firstPart lng-photoOrLogo">Фото или логотип</span><span
                                        class="secondPart"> </span></div>
                                <!-- <div class="boxForImage withBack">
                                        <img src="img/Vector.svg"width = "50"alt="" class="imageOfUser">
                                        <input type="file" onchange = "showFile(this)"accept="image/gif, image/jpeg, image/png, image/svg" name="" class="file">
                                        
                                    </div> -->
                                    {% if user.logo != 0 %}
                                    <div class="imageBoxProfile">
                                        <img src="data:;base64, {{user.logo}}"width = "50"alt="" class="imageOfUserChoose">
                                    </div>
                                    {% else %}
                                    <div class="imageBoxProfile">
                                        <img src="{{url_for('static', filename='img/add-photo.png')}}"width = "50"alt="" class="imageOfUserChoose">
                                    </div>
                                    {% endif %}


                            </div>
                            <div class="spanWithInput inner">
                                <div><span class="firstPart">Адрес</span><span class="secondPart"></span></div>
                                <div class="userAddress rInfo">Шымкент</div>
                            </div>
                            <div class="spanWithInput inner phoneSpan">
                                <div><span class="firstPart">Телефон</span><span class="secondPart"></span></div>
                                {% if user.phone_number==0 %}
                                <input type="text" value="" readonly class="profileNum" re />
                                {% else %}
                                <input type="text" value="{{user.phone_number}}" readonly class="profileNum" re />
                                {% endif %}
                            </div>
                            <div class="saveLine inner">
                                <button class="changeProfile lng-changeProfile">Редактировать профиль</button>
                            </div>
                        </div>

                    </div>
                    <form action="/myprofile/{{lang}}" method="POST" enctype="multipart/form-data">
                        <div class="myProfileInner changeProf">
                            <div class="box boxForMainInformation">
                                <div class="mainTitle inner">
                                    <h1 class="lng-changeProfile">Редактировать профиль</h1>
                                </div>
                                <div class="spanWithInput inner">
                                    <div><span class="firstPart lng-yourProfile">Ваше имя</span><span
                                            class="secondPart lng-atleast4"> (не менее 4 символов)</span></div>
                                    <input type="text" name="username" placeholder="{{username}}">
                                </div>
                                <div class="spanWithInput inner">
                                    <div><span class="firstPart lng-photoOrLogo">Фото или логотип</span><span
                                            class="secondPart lng-format"> (Формат - jpg или png, максимальный размер 5
                                            Мб)</span></div>
                                    <div class="imageBoxProfile">
                                        <img src="{{url_for('static', filename='img/add-photo.png')}}" width="50" alt="" class="imageOfUserChoose">
                                        <input type="file" onchange="showFileProfile(this)"
                                            accept="image/gif, image/jpeg, image/png, image/svg" name="logo"
                                            class="file">
                                    </div>

                                </div>

                                <div class="spanWithInput inner phoneSpan">
                                    <div><span class="firstPart">Телефон</span><span class="secondPart"></span></div>
                                    {% if user.phone_number == 0 %}
                                    <input type="text" class="profileNum" name="phone_number">
                                    {% else %}
                                    <input type="text" class="profileNum" name="phone_number"
                                        placeholder="{{user.phone_number}}">
                                    {% endif %}
                                </div>
                                <!-- <div class="saveLine inner">
                                    <button class="save">Сохранить</button>
                                </div> -->
                            </div>
                            <div class="box boxForChangingPassword">
                                <div class="mainTitle inner">
                                    <h1 class="lng-changePass">Изменить пароль</h1>
                                </div>
                                <div class="spanWithInput inner">
                                    <div><span class="firstPart lng-newPass">Новый пароль</span><span
                                            class="secondPart"></span></div>
                                    <input type="password" name="password">
                                </div>
                                <div class="spanWithInput inner">
                                    <div><span class="firstPart lng-repeatPass">Повторите пароль</span><span
                                            class="secondPart"></span></div>
                                    <input type="password">
                                </div>
                                <div class="saveLine inner">
                                    <!-- <button class="saveNewPassword lng-changePass">Изменить пароль</button> -->
                                </div>
                            </div>
                            <div class="box boxConfirm">
                                <div class="mainTitle inner">
                                    <h1 class="lng-confirm">Подтверждение</h1>
                                </div>
                                <div class="confirmButtonLine inner">

                                    <div><span class="firstPart lng-currentPass">Введите текущий пароль</span></div>
                                    <input type="password" name="userPrevPassword" required>

                                    <button type="submit" class="lng-changeNew">Сохранить изменения</button>
                                </div>

                            </div>

                        </div>
                    </form>
                </section>
                {% endblock content %}




            </div>
        </section>

        <footer>
            <div class="footerChild">
                <div class="first">
                    <div class="text">usharal.kz<i class="fa-thin fa-calendar-circle-minus"></i></div>
                    <div>@ 2022 usharal.kz - все права защищены</div>
                    <div class="map">Карта сайта</div>
                </div>
                <div class="second">
                    <div class="text">Контакты</div>
                    <a href="" class="secondA">usharal_kz@gmail.com</a>
                    <a href="" class="secondA">+7(705) 332 2343</a>
                </div>
                <div class="third">
                    <button class="up fa fa-arrow-up"></button>
                </div>
            </div>
        </footer>

    </div>


    </div>
    <div class="shadow">
        <div class="cityList">
            <div class="inputModal">
                <input type="text" name="" id="" placeholder="Введите название" spellcheck="true">
            </div>
            <ul class="ul">
                <li>Алматинская область</li>
                <li>Акмолинская область</li>
                <li>Атырауская область</li>
                <li>Актюбинская область</li>
                <li>Восточно-Казахстанская область</li>
                <li>Жамбылская область</li>
                <li>Западно-Казахстанская область</li>
                <li>Карагандинская область</li>
                <li>Костанайская область</li>
                <li>Кызылординская область</li>
                <li>Мангистауская область</li>
                <li>Павлодарская область</li>
                <li>Северо-Казахстанская область</li>
                <li>Туркестанская область</li>
                <li>Нур-Султан</li>
                <li>Алматы</li>
                <li>Шымкент</li>
            </ul>
            <ul class="ul">
                <li>Услуги</li>
                <li>Электроника</li>
                <li>Личные вещи</li>
                <li>Детям</li>
                <li>Для Бизнеса</li>
                <li>Животные</li>
                <li>Для дома</li>
                <li>Работа</li>
                <li>Хобби и спорт</li>
                <li>Недвижимость</li>
                <li>Транспорт</li>
            </ul>
        </div>
    </div>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/vuemin.js"></script>
    <script src="../static/js/imask.js"></script>
    <script src="../static/js/icons.js" crossorigin="anonymous"></script>
    <!-- <script src="js/scroll.js"></script> -->
    <script src="../static/js/myProfile.js"></script>
    <script src="../static/js/lang.js"></script>
    <!-- <script src="js/counter.js"></script> -->
    <style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script src="../static/js/vuemin.js"></script>
</body>

</html>