<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - New Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/new-post.css')}}">
    <!-- <link rel="stylesheet" href="./index.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<!-- Navbar -->

<header id="header" class="backgroundNavbar fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <div  class="languageAppear992">
                <a href="/{{lang}}" class="navbar-brand">{{title}}</a>
                <input type="hidden" name="" id="lang_hidden" value="{{lang}}" >
                <div class="d-flex languageAppear">
                    <a href="ru" class="nav-link">рус&nbsp; |</a>
                    <a href="kz" class="nav-link p-0 pt-2">қаз</a>
                </div>
            </div>
            
            <div class="d-flex profileLink">
                {% if username %}
                    <li class="nav-item profileLink ">
                        <a href="/my_profile/{{lang}}" class="nav-link ps-0"><i class="fa-regular fa-user" style="color: #FFFFFF8C"></i></a>
                    </li> 
                    {% else %}
                    <li class="nav-item profileLink ">
                        <a href="/signin/{{lang}}" class="nav-link ps-0"><i class="fa-regular fa-user" style="color: #FFFFFF8C"></i></a>
                    </li> 
                    {% endif %}  
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target = "#navContent"
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>                    
            </div>
            
            <div class="collapse navbar-collapse" id="navContent">
                <ul class="navbar-nav mb-3 mb-lg-0 w-100 d-flex justify-content-between">

                    <li class="nav-item droppingLang">
                        <div style="display: flex;">
                            <a href="ru" class="nav-link gray">рус &nbsp; |</a>
                            <a href="kz" class="gray nav-link p-0 pt-2 ">қаз</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="d-flex">
                            <div class="dropdown p-0 m-0 abs" >
                                <button type="button" class="no-button nav-link pt-2 m-0 lng-personal " data-bs-toggle="dropdown">
                                    <i class="fa-regular fa-user" style="margin-right: 3px;"></i> Личный кабинет <i class="fa-solid fa-chevron-down" style="color: #6e6e6e; "></i>
                                </button>
                                <ul class="dropdown-menu"  style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-bottom: 30px; border-radius:10px">
                                  <li><a class="dropdown-item rounded-3 lng-message" href="/messages/{{lang}}">Сообщения</a></li>
                                  <li><a class="dropdown-item rounded-3 lng-myPosts" href="/my_posts/{{lang}}">Мои объявления</a></li>
                                  <li><a class="dropdown-item rounded-3 lng-payment" href="/payments/{{lang}}">Платежи и счет</a></li>
                                  <li><a class="dropdown-item rounded-3 lng-myProfile" href="/my_profile/{{lang}}">Мой профиль</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item rounded-3" href="/logout">Выйти</a></li>
                                </ul>
                            </div>
                        </div>                         
                    </li>
                    

                    <li class="nav-item">
                        <a href="/favorites/{{lang}}" class="nav-link marginTop lng-favourite"><i class=" fa-regular fa-heart" ></i>&nbsp;Избранное</a>
                    </li>

                    <li class="nav-item">
                        <a href="/messages/{{lang}}" class="nav-link lng-message-second"><i class="fa-regular fa-comment"></i>&nbsp;Сообщения</a>
                    </li>
                    
                   
                    <form action="/new_post/{{lang}}" class="d-flex">
                        <button class="btn btn-outline-warning lng-newPost">Подать обьявление</button>
                    </form> 
                    {% if username %}
                    <li class="nav-item">
                        <a href="/my_profile/{{lang}}" class="nav-link profileNone">&nbsp;{{username}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="/signin/{{lang}}" class="nav-link profileNone">&nbsp;Log in</a>
                    </li>
                    {% endif %}
                </ul>
                
                
                
            </div>
        </div>
    </nav>
</header>

    <div class="wrapper mt-5">
        <div class="width-block">
            <h2 class="headline lng-newPost">Подать обьявление</h1>

        </div>
        <form method="POST" enctype="multipart/form-data" style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <div class="main-form">
            
            <h4 class="lng-infoAboutProd">Информация о товаре</h4>
            <div class="d-flex">
                <p class="zagolovki lng-nameInfo">Заголовок</p><p class = "text-down" style="margin-bottom:0px; font-size: 16px; color: gray;">&nbsp;<span class="lng-atLeast">(не менее 16 символов)</span></p>
            </div>
            <input type="text" 
            name='post_title' class="lng-example lng-example1 inputs productName"
            placeholder="Например, «samsung galaxy s22» или «Услуги сантехника»"
            oninput="titleProduct(this,1)" 
            required>

            <p class="zagolovki">Категория</p>
            <select name="category" class="inputs" style="width: 220px" placeholder="Выберите категорию" required>
                <option value="" class="lng-catg">Выберите категорию</option>
                <option value="1" class="lng-service">Услуги</option>
                <option value="2" class="lng-gadjets">Электроника</option>
                <option value="3" class="lng-personalItems">Личные вещи</option>
                <option value="4" class="lng-child">Детям</option>
                <option value="5" class="lng-business">Для Бизнеса</option>
                <option value="6" class="lng-animals">Животные</option>
                <option value="7" class="lng-house">Для дома</option>
                <option value="8" class="lng-job">Работа</option>
                <option value="9" class="lng-hobby">Хобби и спорт</option>
                <option value="10" class="lng-apartments">Недвижимость</option>
                <option value="11" class="lng-transport">Транспорт</option>
            </select>

            <p class="zagolovki">Цена</p>
            <div class="costBlock">
                <input type="text" class="inner inputs lng-costInTenge" name="post_cost"
                    oninput="checkForFree(this)" placeholder="Цена в тенге" name="" id="" required>

                <div class="inner withRadio">
                    <div class="middleBox">
                        <input checked type="radio" value="1" name="radio" id="middle ">
                        <label for="middle" class="lng-cost">Цена</label>
                    </div>
                    <div class="swapBox">
                        <input type="radio" value="2" name="radio" id="swap ">
                        <label for="swap" class="lng-swap">Возможен обмен</label>
                    </div>
                    <div class="freeBox">
                        <input type="radio" onchange="freeField(this)" value="3" name="radio"
                            id="free ">
                        <label for="free" class="lng-free">Отдам даром</label>
                    </div>
                    <div class="contractBox">
                        <input type="radio" value="4" name="radio"
                            id="contract">
                        <label for="contract" class="lng-contract">Договорная</label>
                    </div>
                </div>
            </div>

            <p class="zagolovki">Фото</p>

                <div class="containerForAllImages gallery">
                    <div class="photo" id="imageInputParent" style="border: 5px solid #ffc53a">
                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  width="50" alt="" class="imageOfUserChooseCamera">
                        <input type="file" onchange="showFile(this)" maxlength=7 accept="image/*" name="post_photo" multiple="True" class="file" id="imageInput" required max="7">
                    </div>
                    
                    <div count='0' class="photo imageBox " oncontextmenu="return false">
                        <img src="{{url_for('static', filename='img/Vector1.svg')}}" width="50" alt="" 
                            class="imageOfUser">
                        <div class="backColor"></div>
                    </div>
                    <div count='1' class="photo imageBox " oncontextmenu="return false">

                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  alt="" class="imageOfUser">
                        <div class="backColor"></div>
                        
                    </div>

                    <div count='2' class="photo imageBox  " oncontextmenu="return false">

                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  alt="" class="imageOfUser">
                        <div class="backColor"></div>
                    </div>
                    <div count='3' class="photo imageBox " oncontextmenu="return false">

                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  alt="" class="imageOfUser">
                        <div class="backColor"></div>
                        
                    </div>
                    <div count='4' class="photo imageBox " oncontextmenu="return false">

                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  alt="" class="imageOfUser">
                        <div class="backColor"></div>
                       
                    </div>
                    <div count='5' class="photo imageBox " oncontextmenu="return false">

                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  alt="" class="imageOfUser">
                        <div class="backColor"></div>
                        
                    </div>
                    <div count='6' class="photo imageBox " oncontextmenu="return false">

                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  alt="" class="imageOfUser">
                        <div class="backColor"></div>
                        
                    </div>
                    <div count='7' class="photo imageBox " hidden oncontextmenu="return false">

                        <img src="{{url_for('static', filename='img/Vector1.svg')}}"  alt="" class="imageOfUser">
                        <div class="backColor"></div>
                        
                    </div>
                    

                
                </div>
                <!-- <button onclick="deleteAll()">Очистить</button> -->
            <!-- </div> -->

            <div class="d-flex flex-column mt-3">
                <button class="btnClear lng-clear" onclick="deleteAll()">Очистить</button>
                <!-- <h4 class = "" style="color: red; margin-bottom: 0px; display: flex; justify-content:center; align-items:center; margin: 5px;">Совет</h4> -->
                <!-- <div class="advice col-md-4 col-xs-12 mt-2">
                    <h2 class="lng-advices">Советы</h2>
                    <div class="lng-d1">- Если Вы нашли странные ошибки в словах или явно низкую цену, лучше сторониться таких объявлений.</div>
                    <div class="lng-d2">- Старайтесь встречаться лично с продавцом для покупки товара.</div>
                    <div class="lng-d3">- Не отправляйте деньги, пока не получили товар или услугу.</div>
                    <div class="lng-d4">- Никогда не отправляйте предоплату!</div>
                </div> -->
                <ul style="margin-top: 20px;">
                    <h3 style="color: green;" class="lng-advices">Советы</h3>
                    <li style="color:rgb(11, 69, 11)" class="lng-g1">- Вы можете загрузить не более 8 фотографий</li>
                    <li style="color:rgb(11, 69, 11)" class="lng-g2">- Чтобы изменить контент фотографий нажмите кнопку "Очистить" и загрузите новые фото</li>
                    <li style="color:rgb(11, 69, 11)" class="lng-g3">- Вернувшись, после предпросмотра в эту форму загруженные фотографии останутся, если не нажать кнопку "Очистить"</li>
                    <li style="color:rgb(11, 69, 11)" class="lng-g4">- Не обновляйте страницу во время заполнения формы</li>
                </ul>
            </div>

            <div class="d-flex mt-3">
                <p style="font-size: 20px; font-weight: 400; margin: 0;" class="lng-description">Описание</p><p class = "text-down" style="font-size: 16px; color: gray; margin: 0px;">&nbsp;<span class="lng-atLeast80">(не менее 80 символов)</span></p>

            </div>
           
            <textarea 
                placeholder ="Подробно расскажите про товар. Подумайте какие подробности вы хотели бы узнать из объявления" 
                maxlength="6000" id="message" cols="" rows="" 
                name="post_description"class="text-area lng-moreInp " 
                oninput="titleProduct(this, 0)" maxlength="10"></textarea>
          
            <div class="counter">
                <span id="result" class="currentValue littleText">0</span>
                <span class="maxValue littleText">/&nbsp;6000</span>
            </div>

            <p class="zagolovki mt-2 lng-location">Местожительство</p>
            <textarea 
            placeholder ="Коротко объясните о своей локации для лучшего понимания"  
            maxlength="100" id="message2" cols="" rows=""
            name="post_location"class="text-area lng-location-more" 
            oninput="titleProduct(this, 0)"></textarea>
            
            <div class="counter">
                <span id="result2" class="currentValue littleText">0</span>
                <span class="maxValue littleText">/&nbsp;100</span>
            </div>

        </div>

        <div class="main-form mt-5 periodOfInputs ">
            <h4 class="lng-contactInfo">Контактная Информация</h4>
            <div class="d-flex">
                <p class="zagolovki">Телефон</p>
            </div>
            <input type="text" 
            name='phone_number' class="lng-example phoneNumber"
            placeholder="Введите номер телефона"
            oninput="titleProduct(this,1)" 
            {% if phone_number %}
            value="{{phone_number}}"
            {% endif %}
            required>

            <div class="d-flex">
                <p class="zagolovki lng-numWhats">Номер WhatsApp</p>
            </div>
            <input type="text" 
            name='whatsapp_phone_number' class="lng-example phoneNumber"
            placeholder="Введите номер WhatsApp"
            {% if whatsapp_number %}
            value="{{whatsapp_number}}"
            {% endif %}
            oninput="titleProduct(this,1)" 
            required>

            <div class="d-flex">
                <p class="zagolovki">E-mail</p>
            </div>
            <input type="email" 
            name='user_email' class="lng-example"
            placeholder="Введите e-mail"
            oninput="titleProduct(this,1)" 
            value="{{session['userEmail']}}"
            required>      


        </div>

        <div class="buttonsBlock w-50 d-flex justify-content-end mt-3 ms-3">
            <div class="d-flex twoButtonsBlock">
                <button class="btn btn-outline-warning twobuttons finalBtn lng-newPost" style="background-color:  #ffc53a; color: white;" formaction="/new_post/{{lang}}">Подать обьявление</button>
                <a>
                    <button class="btn btn-outline-warning twobuttons previewBtn lng-seeBefore" formaction="/review/0/{{lang}}">Предпросмотр</button>
                </a>    
            </div>
    
        </div>
    </form>
    </div>












    <!-- <div style="height: 300px;"></div> -->

    <footer class="text-center text-white ">
        <!-- Grid container -->
        <div class="container p-4 d-flex justify-content-around">
         
        <div class="col-md-6 col-xs-12 me-1">
            <h4 class="textF text-center text-warning">usharal.market</h4>
            <p>@ 2023 usharal.market - все права<br> защищены</p>
        </div>
        <div class="col-md-6 col-xs-12 ms-1">
            <h4 class="textF text-center text-warning">Контакты</h4>
            <p>usharal.market@gmail.com</p>
            <p>+7 (705) 685 80 00</p>
        </div>

        </div>
        <!-- Grid container -->

       
      </footer>
    
    <!-- End Categries  -->
    <script src="https://kit.fontawesome.com/06eeb4d8bd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script>
        document.getElementsByClassName("photo")[0].style ="color: transparent; border: 3px solid  #ffc53a;";
        let 
    </script> -->

    <script>
        function wordCount(val) {
            var wom = val.match(/./g);
            return {
                // charactersNoSpaces: val.replace(/./g, '').length,
                characters: val.length,
                words: wom ? wom.length : 0,
                lines: val.split(/\r*\n/).length
            };
        }

        var textarea = document.getElementById('message');
        var result = document.getElementById('result');

        textarea.addEventListener('input', function() {
          var wc = wordCount(this.value);
          result.innerHTML = (`${wc.words}`);
        });

        var textarea2 = document.getElementById('message2');
        var result2 = document.getElementById('result2');

        textarea2.addEventListener('input', function() {
          var lc = wordCount(this.value);
          result2.innerHTML = (`${lc.words}`);
        });

    </script>
    
    <script src="{{url_for('static', filename='js/imask.js')}}"></script>
    <script src="{{url_for('static', filename='js/newPost.js')}}"></script>
    <!-- <script src="../static/js/imask.js"></script> -->
    <!-- <script src="./newPost.js"></script> -->
    <script src="{{url_for('static', filename='js/lang.js')}}"></script>
</body>
</html>