<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width;">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/myPosts.css">
    <link rel="stylesheet" href="../static/css/scroll.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="all">
        <header>
            <div class="headerChild">
                <div class="text" title="Вернуться к главной странице"><a href="/" style='text-decoration:none' class="text">usharal.kz</a></div>
                <div class="lang"><span class="langSpan rus chosen">рус </span>|<span class="qaz langSpan"> қаз</span></div>
                <div class="moreItems">
                    <div class="dropdown">
                        <span class="fa-regular fa-user lng-personal"> Личный Кабинет</span>
                        <div class="dropdown-content">
                            {% for m in menu %}
                            <a href="{{m.url}}" class="lng-message messages">{{m.name}}</a>
                            {% endfor -%}
                          </div>
                    </div>
                    <span class="fa-regular fa-heart lng-favourite-second favourite"> Избранные</span>
                    <span class="fa-regular fa-comment lng-message-second messages"> Сообщения</span>
                </div>
                <div class="newObject">
                    <button class="add lng-newPost">Подать объявление</button>
                </div>
                <div>
                    <a style='text-decoration:none' class="text" href="{{uuurl}}">{{username}}</a>
                </div>
            </div>
        </header>
        
        
        <section class="pageForNewPost">
            <form action="/newpost" method="post" enctype="multipart/form-data">
            <div class="mask"></div>
            <div class="pageForNewPostChild">
                <div class="titleForPage">
                    <h1>Подать объявление</h1>
                </div>
                
                <div class="mainBody">
                    <form action="/newpost" method="post">
                    <div class="informationAboutProduct">
                        <h3>Информация о товаре</h3>
                        <div class="newPostHeader">
                            <div><span class="firstPart mainTextInfo">Заголовок</span><span class="secondPart">(не менее 16 символов)</span></div>
                            <input type="text" name='post_title' placeholder="Например, «samsung galaxy s22» или «Услуги сантехника»">
                        </div>
                        <div class="categoryForNewPost">
                            <div><span class="firstPart mainTextInfo">Категория</span><span class="secondPart"></span></div>
                            <div class="chooseCategory" name="category">
                                
                                <div name="category">Выберите категорию</div>
                                <select name="category">
                                    <option value="1">Услуги</option>
                                    <option value="2">Электроника</option>
                                    <option value="3">Личные вещи</option>
                                    <option value="4">Детям</option>
                                    <option value="5">Для Бизнеса</option>
                                    <option value="6">Животные</option>
                                    <option value="7">Для дома</option>
                                    <option value="8">Работа</option>
                                    <option value="9">Хобби и спорт</option>
                                    <option value="10">Недвижимость</option>
                                    <option value="11">Транспорт</option>
                                </select>
                            </div>
                        </div>
                        <div class="costBlock">
                            <div class="inner costText mainTextInfo" >Цена</div>
                            <input type="number" class="inner" name="post_cost" placeholder="Цена в тенге" name="" id="">
                            
                            <div class="inner withRadio">
                                <div class="middleBox">
                                    <input type="radio" name="radio" id="middle ">
                                    <label for="middle">Договорная цена</label>
                                </div>
                                <div class="swapBox">
                                    <input type="radio" name="radio" id="swap ">
                                    <label for="swap">Возможен обмен</label>
                                </div>
                                <div class="freeBox">
                                    <input type="radio" name="radio" id="free ">
                                    <label for="free">Отдам даром</label>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="bigBoxForImages">
                            <span class="mainTextInfo ">Фото</span>
                            <div class="containerForAllImages">
                                <div class="imageBox1">
                                    <img src="../static/img/Vector.svg"width = "50"alt="" class="imageOfUser">
                                    <input type="file" onchange = "showFile(this)"accept="image/gif, image/jpeg, image/png, image/svg" name="post_photo" class="file">
                                </div>
                                <div class="imageBox3">
                                    <img src="../static/img/Vector1.svg"width = "50"alt="" class="imageOfUser">
                                </div>
                                <div class="imageBox2">
                                    <img src="../static/img/Vector1.svg"width = "50"alt="" class="imageOfUser">
                                </div>
                                <div class="imageBox4">
                                    <img src="../static/img/Vector1.svg"width = "50"alt="" class="imageOfUser">
                                </div>
                                <div class="imageBox5">
                                    <img src="../static/img/Vector1.svg"width = "50"alt="" class="imageOfUser">
                                </div>
                                <div class="imageBox6">
                                    <img src="../static/img/Vector1.svg"width = "50"alt="" class="imageOfUser">
                                </div>
                                <div class="imageBox7">
                                    <img src="../static/img/Vector1.svg"width = "50"alt="" class="imageOfUser">
                                </div>
                                <div class="imageBox8">
                                    <img src="../static/img/Vector1.svg"width = "50"alt="" class="imageOfUser">
                                </div>
                            </div>
                        </div>
                        <div class="extraInfo">
                            <div class="mainTextInfo"><span class="firstPart">Описание</span><span class="secondPart"> (не менее 80 символов)</span></div>
                            <div><textarea id="message" cols="" rows="" name="post_description" placeholder="Подробно расскажите про товар. Подумайте какие подробности вы хотели бы узнать из объявления" onkeyup="counter()"></textarea></div>
                            <div class="counter">
                                <span class="currentValue">0</span>
                                <span class="maxValue">/6000</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="contactInformation">
                        <div class="textLine">
                            <h3>Контактная Информация</h3>
                        </div>
                        <div class="periodOfInputs">
                            <div class="locationInput">
                                <span>Местоположение</span>
                                <input onclick="modal('newPost')" type="text" name="" id="" required placeholder="Поиск по районам">
                            </div>
                            <div class="locationInput">
                                <span>Телефон</span>
                                <input type="text" name="phone_number" id="" required>
                            </div>
                            <div class="locationInput">
                                <span>Номер WhatsApp</span>
                                <input type="text" name="whatsapp_phone_number" id="" required>
                            </div>
                            <div class="locationInput">
                                <span>E-mail</span>
                                <input type="email" name="" id="" required>
                            </div>
                        </div>
                    </div>
                    <div class="twoButtons">
                        <div class="finalButtonDiv">
                            <button type="submit">Подать объявление</button>
                        </div>
                        <div class="betaButtonDiv">
                            <button>Предпросмотр</button>
                        </div>
                    </div>
                </div>
                
            </div>
            </form>
        </section>
     
        <footer>
            <div class="footerChild">
                <div class="first">
                    <div class="text">usharal.kz<i class="fa-thin fa-calendar-circle-minus"></i></div>
                    <div>@ 2022 usharal.kz - все права защищены</div>
                    <div class="map">Карта сайта</div>
                </div>
                <div class="second">
                    <div class="text">Контакты</div>
                    <a href="" class="secondA">usharal_kz@gmail.com</a>
                    <a href="" class="secondA">+7(705) 332 2343</a>
                </div>
                <div class="third">
                    <button class="up fa fa-arrow-up"></button>
                </div>
            </div>
        </footer>
    </div>
    <div class="shadow">
        <div class="cityList">
            <div class="inputModal">
                <input type="text" name="" id="" placeholder="Введите название" spellcheck="true">
            </div>
            <ul class="ul">
                <li>Алматинская область</li>
                <li>Акмолинская область</li>
                <li>Атырауская область</li>
                <li>Актюбинская область</li>
                <li>Восточно-Казахстанская область</li>
                <li>Жамбылская область</li>
                <li>Западно-Казахстанская область</li>
                <li>Карагандинская область</li>
                <li>Костанайская область</li>
                <li>Кызылординская область</li>
                <li>Мангистауская область</li>
                <li>Павлодарская область</li>
                <li>Северо-Казахстанская область</li>
                <li>Туркестанская  область</li>
                <li>Нур-Султан</li>
                <li>Алматы</li>
                <li>Шымкент</li>
            </ul>
            
            <ul class="ul" name="category" >
                <li value="1">Услуги</li>
                <li value="2">Электроника</li>
                <li value="3">Личные вещи</li>
                <li value="4">Детям</li>
                <li value="5">Для Бизнеса</li>
                <li value="6">Животные</li>
                <li value="7">Для дома</li>
                <li value="8">Работа</li>
                <li value="9">Хобби и спорт</li>
                <li value="10">Недвижимость</li>
                <li value="11">Транспорт</li>
            </ul>
        </div>
    </div>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://kit.fontawesome.com/db48927ab0.js" crossorigin="anonymous"></script>
    <script src="../static/js/scroll.js"></script>
    <script src="../static/js/newPost.js"></script>
    <script src="../static/js/lang.js"></script>
    <script src="../static/js/counter.js"></script>
    <!-- <script src="js/counter.js"></script> -->
    <style>
        *{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
</body>
</html>
