<h3>Политика конфиденциальности</h3>
<h4>Последнее обновление: 30.08.2023</h4>
Добро пожаловать на usharal.kz. Настоящая политика конфиденциальности объясняет, как мы собираем, используем и защищаем информацию, предоставленную вами на нашем сайте.
<h4>Сбор и использование информации</h4>
Когда вы регистрируетесь на нашем сайте, мы запрашиваем ваш логин и пароль для создания вашей учетной записи. Эти данные используются только для обеспечения доступа к вашей учетной записи на сайте.
<h4>Хранение данных</h4>
Ваши данные, включая логин и хэшированный пароль, хранятся в защищенной базе данных. Мы предпринимаем меры безопасности для защиты ваших данных от несанкционированного доступа, изменения или раскрытия.
<h4>Использование куков</h4>
Наши веб-серверы могут использовать куки для улучшения вашего опыта на сайте. Куки – это небольшие текстовые файлы, которые хранятся на вашем устройстве. Они помогают нам анализировать трафик и предоставлять персонализированный контент.
<h4>Передача данных третьим сторонам</h4>
Мы не предоставляем ваши личные данные, включая логин и пароль, третьим сторонам без вашего явного согласия, за исключением случаев, когда это необходимо для соблюдения законодательства.
<h4>Права пользователей</h4>
Вы имеете право запросить доступ к вашим личным данным, исправление или удаление неверных данных. Вы также можете отозвать свое согласие на обработку данных или ограничить их обработку. Чтобы воспользоваться этими правами, пожалуйста, свяжитесь с нами по [контактная информация].
<h4>Изменения в политике</h4>
Мы оставляем за собой право обновлять нашу политику конфиденциальности по мере необходимости. В случае изменений мы уведомим вас путем размещения обновленной политики на этой странице.
<h4>Контакты</h4>
Если у вас есть какие-либо вопросы или замечания относительно нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по почте.

