<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{post.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleSecond.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleI.css')}}">
</head>
<body>
<!-- Navbar -->

<header id="header" class="backgroundNavbar fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <div  class="languageAppear992">
                <a href="/{{lang}}" class="navbar-brand">{{title}}</a>
                <input type="hidden" name="" id="lang_hidden" value="{{lang}}" >
                <div class="d-flex languageAppear">
                    <a href="ru" class="nav-link grayyy">рус&nbsp; |</a>
                    <a href="kz" class="nav-link grayyy p-0 pt-2">қаз</a>
                </div>
            </div>
            <!-- <a href="/{{lang}}" class="navbar-brand">{{title}}</a> -->
            <input type="hidden" name="" id="lang_hidden" value="{{lang}}" >
            <div class="d-flex">
                <div class="profileLink">
                    <li class="nav-item profileLink ">
                        <a href="./registration-login.html" class="nav-link ps-0"><i class="fa-regular fa-user" style="color: #FFFFFF8C"></i></a>
                    </li>                
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target = "#navContent"
                aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
            
            <div class="collapse navbar-collapse" id="navContent">
                <ul class="navbar-nav mb-3 mb-lg-0 w-100 d-flex justify-content-between">
                    <li class="nav-item disappearWhen992">
                        <div class="d-flex">
                            <a href="ru" class="nav-link grayyy">рус&nbsp;&nbsp; |</a>
                            <a href="kz" class="nav-link grayyy p-0 pt-2">қаз</a>
                        </div>
                    </li>
                    

                    

                    <li class="nav-item">
                        <div class="d-flex">
                          
                            
                            <div class="dropdown p-0 m-0">
                                <button type="button" class="no-button nav-link pt-2 m-0 lng-personal" data-bs-toggle="dropdown">
                                    <i class="fa-regular fa-user" style="margin-right: 3px;"></i> Личный кабинет <i class="fa-solid fa-chevron-down" style="color: #6e6e6e; "></i>
                                </button>
                                <ul class="dropdown-menu" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 10px;">
                                  <li><a class="dropdown-item lng-message" href="/messages/{{lang}}">Сообщения</a></li>
                                  <li><a class="dropdown-item lng-myPosts" href="/my_posts/{{lang}}">Мои объявления</a></li>
                                  <li><a class="dropdown-item lng-payment" href="/payments/{{lang}}">Платежи и счет</a></li>
                                  <li><a class="dropdown-item lng-myProfile" href="/my_profile/{{lang}}">Мой профиль</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item lng-exit" href="/logout">Выйти</a></li>
                                </ul>
                            </div>
                        </div>                         
                    </li>
                    

                    <li class="nav-item">
                        <a href="/favorites/{{lang}}" class="nav-link lng-favourite"><i class=" fa-regular fa-heart"></i>&nbsp;Избранное</a>
                    </li>

                    <li class="nav-item">
                        <a href="/messages/{{lang}}" class="nav-link lng-message-second"><i class="fa-regular fa-comment"></i>&nbsp;Сообщения</a>
                    </li>
                    
                   
                    <li  class="d-flex">
                        <a  href="/new_post/{{lang}}" class="btn btn-outline-warning lng-newPost">Подать обьявление</a>
                    </li> 
                    
                    {% if username %}
                        <li class="nav-item">
                            <a href="/my_profile/{{lang}}" class="nav-link profileNone">&nbsp;{{username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="/signin/{{lang}}" class="nav-link profileNone">&nbsp;Log in</a>
                        </li>
                        {% endif %}
                </ul>
                
                
                
            </div>
        </div>
    </nav>
</header>

<!-- Navbar ends -->

<!-- Search -->

<div style="margin-top: 70px;"></div>
  

<!-- End search -->

<!-- Categories -->

    <div class="categories mt-4">
        
    

    </categories>

<!-- End Categories -->

<!-- products -->

    <main>
        <div class="d-flex justify-content-start" style="width: 100%;">
        <a onclick="history.back()" style="text-decoration: none;">
            <div class="prevLine">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="lng-back">Назад</span>
            </div>
        </a>
        </div>
       

        <div class="innerMain" style="justify-content: center;">
            <div class="mt-2 mb-2" style="width:100%;">
                <h3 class="fs-2" style="word-wrap: break-word;">{{post.title}}</h3>
                <div><span class="lng-published subTextData">Опубликовано: </span> <span class="subTextData">{{post.post_date}}</span></div>
            </div>
            <div class="mainImageAndInfo row">
                <div class="mainImage col-md-7 col-xs-12 mb-2">
                    <div class="innerDiv controlBtn" onclick="plusSlides(-1, 0)">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                    </div>

                    <div class="innerDiv mainImgDiv imageHere">
                        <img loading="lazy" style="width: 100%;" class="samImage" src="/static/uploads/{{post.photos[0]}}">
                    </div>

                    <div class="innerDiv controlBtn" onclick="plusSlides(1, 1)">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="mainInfo col-md-4 col-xs-12" style="height: 250px; padding: 15px">
                    <div class="addToFav" onclick="fill(this)" style="cursor: pointer; user-select: none;">
                     
                        {% if username != 'Log In' %}
                            {% if post.id in favourites %}
                            <input hidden id="text_{{post.id}}" value="{{post.id}}"><i
                                class="fa fa-heart" onclick="alert()" style="cursor: pointer;"
                                id="spanOfHeart_{{post.id}}"></i>
                            {% else %}
                            <input hidden id="text_{{post.id}}" value="{{post.id}}"><i
                                class="fa-regular fa-heart" onclick="fill(this)" style="cursor: pointer;"
                                id="spanOfHeart_{{post.id}}"></i>
                            {% endif %}
                        
                        {% else %}
                        
                            <a href="/signin/{{lang}}" style="color: black;">
                                <i
                                class="fa-regular fa-heart" style="cursor: pointer;"
                                id=""></i></a>
                        {% endif %}
                        <span class="lng-addToFav">Добавить в избранное</span>
                    </div>
                    <div class="cost">

                        <span>{{post.cost}}</span>

                    </div>
                    <div class="costStat {{lngFacility}}">{{post.facility}}</div>
                    <div class="firstL" style="margin: 5px 5px 25px 0px;">
                        <div class="miniProfile" style=" align-items: center;">
                            {% if user_logo != 0 %}
                            <img loading="lazy" src="/static/uploads/{{user_logo}}" class = "profLogo" style="width: 57px; height: 57px; border-radius: 50%;">
                            {% else %}
                            <img loading="lazy" src="{{url_for('static', filename = 'img/user.svg')}}" class = "profLogo" style="width: 57px; border-radius: 50%;">
                            {% endif %}
                            <div class="data" style=" display: flex; flex-direction: column; margin-left: 10px;">
                                <div class="name" style="display: flex; align-items: center;">
                                    {{post.username}}
                                </div>
                                <div class="mobNum">
                                    <span class="spanNumber">{{post.phone_number}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="quickChat">
                      
                    </div>
                    <div class="buttonsBlock w-50 d-flex justify-content-end mt-3 ">
                        <div class="d-flex twoButtonsBlock">
                            <a class="btn btn-outline-warning twobuttons lng-writeToSeller" style="color: black; white-space: nowrap; border: 3px solid rgb(255,197,58);" href="/chat/{{post.user_id}}/{{lang}}">Написать продавцу</a>   
                        </div>
                
                    </div>

                </div>
            </div>

            
            <div class="subImages row">
                <!-- <div class="buttonSame" style=" height: 40px; width: 100px;">
                    <button class="fa-solid fa-angle-left prev1"></button>
                    <button class="fa-solid fa-angle-right next1"></button>
                </div>
                <br> -->
                <div class="sliderCon col-md-7 col-xs-12 m-3 p-0 ms-0 mt-0">
                    {% for photo in post.photos %}
                    <div class="imgBox">
                        <img loading="lazy" class="miniImg" src="/static/uploads/{{photo}}">
                    </div>
                    {% endfor %}
                </div>

                <div class="col-md-5 col-xs-12"></div>
            
    
            </div>
            <div class="row">
                <div class="description col-md-7 col-xs-12">
                   <div class="mainDesc">
                       <h1 class="lng-description">Описание</h1>
                       <div class="actDesc">
                           {{post.description}}
                       </div>
                   </div>
                   <div class="mainDesc">
                    <h1 class="lng-location">Местоположение</h1>
                    <div class="actDesc">
                        {{post.location}}
                    </div>
                </div>
                </div>
                <div class="col-5 col-xs-12">
                
                </div>
            </div>


            <div class="MsgAndAdvice row d-flex justify-content-between">
                <div class="sendMsg col-md-7 col-xs-12">
                    <div class="firstL">
                        <div class="miniProfile" style=" align-items: center;"> 
                            
                            {% if user_logo != 0 %}
                            <img loading="lazy" src="/static/uploads/{{user_logo}}" class = "profLogo" style="width: 57px; height: 57px; border-radius: 50%;">
                            {% else %}
                            <img loading="lazy" src="{{url_for('static', filename = 'img/user.svg')}}" class = "profLogo" style="width: 57px; border-radius: 50%;">
                            {% endif %}
                            <div class="data" style=" display: flex; flex-direction: column; margin-left: 10px;">
                                <div  style="display: flex; align-items: center;">
                                    {{post.username}}
                                </div>
                                <div class="mobNum">
                                    <span>{{post.phone_number}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h1 class="lng-writeToSeller" style="font-size: 1.25rem; ">Написать продавцу</h1>
                    <form method="POST" action="/chat/{{post.user_id}}/{{lang}}">
                        <textarea class="lng-yourMessage " name="textarea_message" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
                    
                        <div class="lastL row d-flex justify-content-between mt-2">
                            <div class="col-md-6 col-xs-6"><p class="text-center"><input type="submit" class="myButton1 lng-writeToSeller" style="white-space: nowrap;" value="Написать продавцу"></p></div>
                            <div class="col-md-6 col-xs-6"><p class="text-center"><a href="{{post.whatsapp_link}}" class="myButton lng-writeWhats" style="white-space: nowrap;">Написать на WhatsApp</a></p></div>
                           
                            
                        </div>
                    </form>
                </div>
                <div class="advice col-md-4 col-xs-12 mt-2">
                    <h2 class="lng-advices">Советы</h2>
                    <div class="lng-d1">- Если Вы нашли странные ошибки в словах или явно низкую цену, лучше сторониться таких объявлений.</div>
                    <div class="lng-d2">- Старайтесь встречаться лично с продавцом для покупки товара.</div>
                    <div class="lng-d3">- Не отправляйте деньги, пока не получили товар или услугу.</div>
                    <div class="lng-d4">- Никогда не отправляйте предоплату!</div>
                </div>
            </div>
            <br>
            {% if review %}
          
            <div class="d-flex twoButtonsBlock">
                <p class="text-center"><button class="btn btn-outline-warning twobuttons mt-5" style="background-color: white; color: black; border: 3px solid #ffc53a; border-radius: 15px; padding: 15px;" onclick="history.back()">Редактировать и опубликовать</button> </p>  
            </div>
            {% endif %}
            
            


           
        </div>
    </main>
    <div style="height: 100px;"></div>

<!-- products end -->

<footer class="text-center text-white ">
    <!-- Grid container -->
    <div class="container p-4 d-flex justify-content-around">
     
    <div class="col-md-6 col-xs-12 me-1">
        <h4 class="textF text-center text-warning">usharal.market</h4>
        <p>@ 2023 usharal.market - все права<br> защищены</p>
    </div>
    <div class="col-md-6 col-xs-12 ms-1">
        <h4 class="textF text-center text-warning">Контакты</h4>
        <p>usharal.market@gmail.com</p>
        <p>+7 (705) 685 80 00</p>
    </div>

    </div>
    <!-- Grid container -->

   
  </footer>
    
    <!-- End Categries  -->

    <script src="https://kit.fontawesome.com/06eeb4d8bd.js" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
    <script src="{{url_for('static', filename='js/content.js')}}"></script>
    <script src="{{url_for('static', filename='js/lang.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
    function fill(elem){
    // alert(elem.firstChild)
    // console.log(elem.firstElementChild)
    elem.firstElementChild.classList.toggle("fa-regular")
    elem.firstElementChild.classList.toggle("fa")
    
    
}</script>
 <script>
    const socket = io.connect('https://unix:/var/run/main.sock');
</script>
<script>
    document.getElementById('spanOfHeart_{{post.id}}').onclick = ev => {
    
        ev.preventDefault();
        const text = document.getElementById('text_{{post.id}}');
       
   
        heart = document.getElementById('spanOfHeart_{{post.id}}');
        var data = [text.value, heart.classList];
        socket.emit('favPost', {'value':text.value, 'class':heart.classList});
        document.getElementById('spanOfHeart_{{post.id}}').classList.toggle("fa-regular")
        document.getElementById('spanOfHeart_{{post.id}}').classList.toggle("fa")
    };
</script>
</body>
</html>
